.container-component--search {


  .button--reset,
  .button--back-step {
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px;

    &:hover {
      background-color: $blue;
    }
  }

  .container-children {
    @include grid();

    .container-component--questions {




      .container-component--top-side,
      .container-component--left-side {
        .title {
          font-size: 16px;
          line-height: 16px;
          font-weight: 600;
          color: #fff;
          margin-bottom: 10px;

          @include mq('1024') {
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 15px;
          }

        }

        .description {
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          color: #fff;

          @include mq('1024') {
            font-size: 16px;
            line-height: 23px;
          }
        }
      }

      .container-component--top-side {
        margin-bottom: 25px;

        @include mq('1024') {
          margin-bottom: 100px;

          .title--main,
          .description--main {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
          }
        }

        .list--steps {
          margin-top: 25px;

          @include mq('1024') {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .list-item--step {
          display: flex;
          align-items: center;
          margin-right: 10px;

          .button--go-to-step {
            display: flex;
            align-items: center;

            &-status-2 {
              .status--current {
                cursor: pointer;
                background-color: #00c373;
              }
            }

            &-status-1 {
              .status--current {
                cursor: not-allowed;
                background-color: #ff9700;
              }
            }



            &-status-3 {
              .status--current {
                cursor: not-allowed;
                background-color: #fff;
              }
            }


            .status--current {
              border: 1px solid #000;
              border-radius: 50%;
              height: 8px;
              width: 8px;
              margin-right: 8px;
              display: block;
            }

            .status--title {
              width: max-content;
              font-size: 14px;
              line-height: 14px;
              font-weight: 600;
              color: #fff;
            }

          }
        }
      }

      .container-content--bottom-side {
        @include mq('1024') {
          display: grid;
          grid-template-columns: 1fr 400px;
          align-items: start;

          column-gap: 200px;
        }


        .container-component--left-side {
          margin-bottom: 25px;
          position: relative;

          .button--back-step {
            margin-bottom: 25px;

            @include mq('1024') {
              margin-bottom: 0;

              position: absolute;
              top: -75px;
            }

          }
        }

        .container-component--right-side {
          @include mq('1024') {
            .list--questions {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              justify-items: end;
              align-items: center;
              row-gap: 20px;
            }
          }

          .title {
            font-size: 12px;
            line-height: 12px;
            font-weight: 600;
            color: #f7f9ff;
            margin-top: 5px;
          }

          .container-component--input-radio-1 {
            position: relative;

            .input--radio {
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
            }

            .container-content--image-radio {
              transition: 200ms all;

              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              background-color: transparent;
              border: 1px solid #fff;
              width: 66px;
              height: 66px;
              border-radius: 20px;

              .image {
                transition: 200ms all;
                width: 32px;
                height: 32px;
              }
            }

          }



          .button--submit {
            margin-top: 20px;

            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 20px;
            cursor: pointer;

            background-color: #ff9700;

            font-size: 16px;
            line-height: 16px;
            font-weight: 600;
            color: white;

            transition: 200ms all;

            @include mq('1024') {
              margin-left: auto;
              margin-top: 40px;
            }

            &:hover {
              background-color: darken(#ff9700, 10%)
            }
          }
        }
      }

    }

    .container-component--result {
      @include mq('1024') {
        display: grid;
        grid-template-columns: 300px 1fr;
      }


      .button--reset {
        margin-bottom: 25px;
      }

      .title {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;

        @include mq('1024') {
          font-size: 26px;
          line-height: 26px;
          margin-bottom: 15px;
        }

      }

      .description {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #fff;

        margin-bottom: 30px;

        @include mq('1024') {
          font-size: 16px;
          line-height: 23px;
        }

      }

      @include mq('1024') {
        .list--steps-checked {
          display: grid;
          align-items: center;

          grid-template-columns: 1fr 1fr 1fr;
          row-gap: 20px;
        }
      }


      .container-content--slider-item,
      .list-item--step-checked {
        .container-content--image {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          background-color: #F7F9FF;
          width: 40px;
          height: 40px;
          border-radius: 10px;

          @include mq('1024') {
            width: 65px;
            height: 65px;
            border-radius: 20px;
          }


          .image {
            filter: invert(20%) sepia(48%) saturate(150) hue-rotate(202deg) brightness(50%) contrast(102%);
          }
        }

        .title {
          @include textConfigCustom($color: #FFFFFF, $fontSize: 12, $line-height: 12, $fontWeight: 600);
          display: block;
          text-align: center;
          margin-bottom: 0;
        }

        .title--step-name {
          margin: 5px 0;
          color: $orange01;
        }
      }
    }
  }
}