.customFaq-containerQuestions {
  height: fit-content;
  overflow: hidden;

  &.customFaq-containerQuestions--Active {
    .customFaq-containerQuestion {
      pointer-events: auto;
      opacity: 1;
      transform: none;
      height: auto;
      transition: 0.2s;
    }

    .customFaq-icon {
      transform: rotate(180deg);
    }
  }

  .customFaq-QuestionsTitle {
    @include textConfig($black, 14, $fontBold, 14, left, initial, 1);
    @include display-flex(center, flex, '', '');
    gap: 10px;
    margin: 0;
    cursor: pointer;

    .customFaq-icon {
      max-width: 16px;
      max-height: 16px;
      transition: 0.3s;
    }
  }

  .customFaq-containerQuestion {
    opacity: 0;
    transform: scaleY(0);
    overflow: hidden;
    pointer-events: none;
    transform-origin: top;
    transition: 0.2s;
    overflow: hidden;
    height: 0;
    margin-bottom: 1rem;

    .customFaq-ResponseText {
      @include textConfig($black, 14, $fontRegular, 14, left, initial, 1);
    }
  }
}
