%default {
  display: flex;
  align-items: center;
  justify-content: space-between;

  >li {
    text-align: center;
  }

  .imageProduct {
    width: min-content;

    height: min-content;
  }

}

%variant {
  &.without5images {
    @media (min-width: 1024px) {
      min-width: 100%;
      display: flex;
      flex-direction: column;
    }

    .seeMoreProducts {
      margin-top: 20px;
      width: calc(100% - 40px);

      @media screen and (min-width: 1024px) {
        margin-top: 35px;
        width: max-content;
      }
    }

    .containerBlockCollectionProduct,
    .imageProduct {
      width: min-content;

      height: min-content;
    }
  }

  &.with5Images {
    .containerBlockCollectionProduct>a:not([data-component-button="true"]) {
      display: flex;
      min-height: 175px;

      align-items: center;
      justify-content: center;
    }

    .imageProduct {
      @media screen and (min-width: 1024px) {
        max-width: 200px;
      }
    }
  }
}

.containerBlockCollectionProductTab {
  @extend %default;
  @extend %variant;
}
