%default {
  border: none;
  background: none;
  cursor: pointer;

  appearance: none;
}

%variants {

  &.primary,
  &.secondary,
  &.tertiary {
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;


    height: 40px;
    padding: 0 20px;

    &>span {
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
    }
  }

  &.primary {
    background-color: #FF9700;

    &>span {
      color: #fff;
    }

    &:hover {
      background-color: darken($color: #FF9700, $amount: 5)
    }


  }

  &.secondary {
    border: 1px solid #fff;
    background-color: transparent;

    &>span {
      color: #fff;
    }

    &:hover {
      background-color: #005DC7;

      &>span {
        color: #fff;
      }
    }
  }

  &.tertiary {
    border: 1px solid #005DC7;

    background-color: transparent;

    &>span {
      color: #005DC7;
    }

    &:hover {
      background-color: #005DC7;

      &>span {
        color: #fff;
      }
    }
  }

}

.containerButton {
  &[data-component-button="true"] {
    @extend %default;
    @extend %variants;
  }
}
