.containerButton[data-component-button=true] {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.primary.containerButton[data-component-button=true], .secondary.containerButton[data-component-button=true], .tertiary.containerButton[data-component-button=true] {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 20px;
}
.primary.containerButton[data-component-button=true] > span, .secondary.containerButton[data-component-button=true] > span, .tertiary.containerButton[data-component-button=true] > span {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}
.primary.containerButton[data-component-button=true] {
  background-color: #FF9700;
}
.primary.containerButton[data-component-button=true] > span {
  color: #fff;
}
.primary.containerButton[data-component-button=true]:hover {
  background-color: #e68800;
}
.secondary.containerButton[data-component-button=true] {
  border: 1px solid #fff;
  background-color: transparent;
}
.secondary.containerButton[data-component-button=true] > span {
  color: #fff;
}
.secondary.containerButton[data-component-button=true]:hover {
  background-color: #005DC7;
}
.secondary.containerButton[data-component-button=true]:hover > span {
  color: #fff;
}
.tertiary.containerButton[data-component-button=true] {
  border: 1px solid #005DC7;
  background-color: transparent;
}
.tertiary.containerButton[data-component-button=true] > span {
  color: #005DC7;
}
.tertiary.containerButton[data-component-button=true]:hover {
  background-color: #005DC7;
}
.tertiary.containerButton[data-component-button=true]:hover > span {
  color: #fff;
}