.containerBadgesAvanti {
  height: 100%;
  width: 100%;
  position: relative;
}

.containerQuadrantBottom,
.containerQuadrantTopLeft,
.containerQuadrantTopRight {
  position: absolute;
  z-index: 1000;
}

.containerQuadrantBottom {
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerQuadrantTopLeft {
  top: 0;
  left: 0;
}

.containerQuadrantTopRight {
  top: 0;
  right: 0;
}
