/* SEGUNDO TEMA <theme2> ESTILO UNILAR */
.theme2 {
  &.desktop-navbar {
    z-index: 10;
    background-color: $black; /* Remover essa estilização provisória */
  }
  .desktop {
    &-menuItem,
    &-departmentsItem,
    &-menuSecondItemsWrapper,
    &-menuThirdItemsWrapper,
    &-departmentsItem .desktop-menuItemsWrapper {
      transition: 0.3s;
    }

    &-menuItems {
      @include display-flex(center, flex, space-between, row);
      @include grid();
      list-style: none;
    }

    &-menuSecondItemsContainer {
      height: 98%;
    }

    &-departmentsItem .desktop-menuSecondItemsContainer {
      max-height: 380px;
    }

    &-menuSecondItems,
    &-menuThirdItems,
    &-departmentItems,
    &-departmentsItem .desktop-menuItems {
      @include size(100%);
      padding: 0px;
      background: transparent;
      overflow-y: auto;
      overflow-x: hidden;
      list-style: none;
    }

    &-menuThirdItemsWrapper,
    &-departmentsItem .desktop-menuSecondItemsWrapper {
      box-shadow: inset 4px 0px 2px 0px $white01, -24px -16px 17px -2px rgb(0 0 0 / 0%);
    }
    &-departmentsItem .desktop-menuSecondItemsWrapper::before,
    &-menuThirdItemsWrapper::before {
      @include size(20px, 100%);
      @include abs-position(auto, auto, auto, -18px);
      content: '';
      background-color: transparent;
      z-index: 10;
    }

    &-menuItem,
    &-departmentsItem {
      position: relative;
      font-size: 13px;
      color: $black;
      border: 0px;
      text-transform: initial;
      @include display-flex(center, flex, center, row);
      border-radius: 5px 5px 0px 0px;
    }

    &-menuItem:hover,
    &-departmentsItem:hover {
      background-color: $white;
      color: $black;
    }

    &-menuItemsTitleLink {
      text-decoration: none;
    }

    &-menuItemsTitle--Second,
    &-menuItemsTitle--Third {
      padding: 0px 20px;
      color: $primary-color;
      font-size: 13px;
    }

    &-menuItemsTitle--Second {
      display: none;
    }

    &-departmentsItem .desktop-menuItemsTitle--Second {
      display: block;
    }

    &-menuItemLink,
    &-departmentsItemLink {
      padding: 10px;
      font-size: 13px;
      color: $white;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
    }

    &-menuItemLink .desktop-arrowIconContent {
      display: none;
    }

    &-departmentsItem .desktop-menuItemLink .desktop-arrowIconContent {
      display: block;
    }

    &-menuIcon {
      max-width: 22px;
    }

    &-menuIconContent {
      @include display-flex(flex-end, flex, center, row);
      height: 20px;
      text-align: center;
    }

    &-menuSecondItems .desktop-menuSecondItemLinkText,
    &-menuSecondItems .desktop-menuThirdItemLinkText {
      @include display-flex(center, flex, center, row);
      gap: 10px;
    }

    &-departmentsItem .desktop-menuItemLink,
    &-departmentsItem .desktop-departmentsItemLink {
      @include display-flex(center, flex, space-between, row);
      height: 100%;
    }

    &-departmentsItem {
      .desktop-menuItemLink {
        align-items: center;
      }

      .desktop-departmentsItemLink {
        align-items: flex-end;
      }

      .desktop-menuItemLink {
        flex-direction: row;
      }
    }

    &-menuItem:hover .desktop-menuItemLink,
    &-departmentsItem:hover .desktop-menuItemLink,
    &-departmentsItem:hover .desktop-departmentsItemLink {
      color: $black;
    }

    &-menuSecondItemsWrapper {
      left: 0px;
      top: 100%;
    }

    &-menuThirdItemsWrapper {
      left: 300px;
      top: 0;
      display: block;
      margin-left: -21px;
    }

    &-menuItem--child-2,
    &-menuItem--child-3,
    &-menuItem--child-4,
    &-menuItem--child-5,
    &-menuItem--child-6,
    &-menuItem--child-7,
    &-menuItem--child-8 {
      .desktop-menuSecondItemsWrapper {
        right: 0px;
        left: unset;
      }
    }

    &-menuItem--child-2,
    &-menuItem--child-3,
    &-menuItem--child-4,
    &-menuItem--child-5,
    &-menuItem--child-6,
    &-menuItem--child-7,
    &-menuItem--child-8 {
      .desktop-menuThirdItemsWrapper {
        right: 300px;
        left: unset;
        margin-right: -21px;
        margin-left: unset;
        box-shadow: inset -4px 0px 2px 0px $light-gray-02, -24px -16px 17px -2px rgb(0 0 0 / 0%);
      }
    }

    &-menuItem--child-2,
    &-menuItem--child-3,
    &-menuItem--child-4,
    &-menuItem--child-5,
    &-menuItem--child-6,
    &-menuItem--child-7,
    &-menuItem--child-8 {
      .desktop-menuThirdItemsWrapper {
        &::before {
          right: -18px;
          left: unset;
        }
      }
    }

    &-menuSeeAllButton {
      display: none;
    }

    &-menuSecondItemsWrapper,
    &-menuThirdItemsWrapper {
      @include size(279px, 432px);
      position: absolute;
      background: $white;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      @include display-flex(normal, flex, space-between, column);
    }

    &-menuItem:hover,
    &-menuItem:hover .desktop-menuSecondItemsWrapper,
    &-menuSecondItem:hover .desktop-menuThirdItemsWrapper {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &-bannerContent {
      display: none;
    }

    &-menuSecondItems,
    &-menuThirdItems,
    &-departmentsItem .desktop-menuItems {
      &::-webkit-scrollbar {
        width: 10px;
      }
    }

    &-menuSecondItems,
    &-menuThirdItems,
    &-departmentsItem .desktop-menuItems {
      &::-webkit-scrollbar-track {
        background: $white;
      }
    }

    &-menuSecondItems,
    &-menuThirdItems,
    &-departmentsItem .desktop-menuItems {
      &::-webkit-scrollbar-thumb {
        background-color: $light-gray-01;
        border-radius: 20px;
        border: 2px solid $white;
      }
    }

    &-menuSecondItem,
    &-menuThirdItem,
    &-departmentsItem .desktop-menuItem {
      padding: 0px 20px;
      font-size: 12px;
      font-weight: 400;
      color: $black;
      @include display-flex(center, flex, space-between, row);
    }

    &-menuSecondItem:hover,
    &-menuThirdItem:hover,
    &-departmentsItem .desktop-menuItem:hover {
      background-color: $white02;
    }

    &-menuSecondItem:hover .desktop-menuSecondItemLink,
    &-menuThirdItem:hover .desktop-menuThirdItemLink,
    &-departmentsItem .desktop-menuItem:hover .desktop-menuItemLink {
      color: $primary-color;
      font-weight: bold;
      border-color: transparent;
    }

    &-menuSecondItemLink,
    &-menuThirdItemLink {
      @include display-flex(center, flex, space-between, row);
      width: 100%;
      position: relative;
      padding: 12px 0;
      color: $black;
      text-decoration: none;
      cursor: pointer;
    }

    &-arrowIconContent {
      display: flex;
    }

    &-arrowIcon {
      max-width: 8px;
    }

    &-departmentsItem {
      .desktop-menuItemsWrapper {
        @include display-flex(center, flex, space-between, row);
        @include size(279px, 432px);
        @include abs-position(100%, auto, auto, 0);
        background: $white;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 12px 12px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        padding: 10px 0;
      }

      .desktop-menuItems {
        @include size(100%);
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: initial;
      }

      .desktop-menuItem {
        width: 100%;
        display: block;
        position: initial;
        border-radius: 0;
      }
    }

    &-menuItemLink {
      @include display-flex(center, flex, flex-end, column);
      gap: 10px;
      height: 100%;
    }

    &-menuItemLinkText {
      @include display-flex(center, flex, space-between, row);
      font-weight: bold;
      width: 100%;
    }

    &-departmentsItem {
      &:hover {
        .desktop-menuItemsWrapper {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        .desktop-departmentsIcon {
          fill: $black;
        }
      }
    }

    &-departmentsItem {
      .desktop-menuSecondItemsWrapper {
        top: 0;
        left: 300px;
        margin-left: -21px;
        flex-direction: column;
      }

      .desktop-menuItemLink {
        font-weight: bold;
      }

      .desktop-departmentsIcon {
        fill: $white;
        padding-right: 8px;
      }
    }
  }
}

/* FIM DO SEGUNDO TEMA </theme2> */
