body .containerLeftSideLayout {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  body .containerLeftSideLayout {
    margin-bottom: 0;
  }
}