/* email */
.container.container-main.container-order-form .form-page.client-pre-email {
  background-color: blue;
}

/* cart */
.container.container-main.container-order-form .checkout-container.orderform-active #client-profile-data .client-profile-data {
  background-color: green;
}

.container.container-main.container-order-form .checkout-container.orderform-active #shipping-data {
  &,
  >* {
    background-color: violet;
  }
}

.container.container-main.container-order-form .cart-template.mini-cart {

  &,
  >* {
    background-color: blue;
  }
}

.container.container-main.container-order-form .checkout-container.orderform-active #payment-data {
  >* {
    background-color: orange;
  }
}

/* inicio */
.container.container-main.container-cart {
  background-color: red;

/* container cart */
  .cart-template-holder {
    background-color: olivedrab;
  }

        /* container shipping */
  .summary-template-holder,
  .summary-template-holder+.cart-links {
    background-color: rebeccapurple;

  }
}