@mixin variationDefaultStyles {


  & .variation-- {

    &type-text,
    &type-title {
      font-size: inherit;
      color: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  & .strong {
    font-weight: 700;
  }
}



@mixin variationFontColors {
  &.variation--color-black {
    color: #060606;
  }

  &.variation--color-white {
    color: #fff;
  }

  &.variation--color-blue {
    color: #0085CA,
  }
}

@mixin variationsFontTitle {

  &.variation--type-title {

    &.variation--font-1 {
      @include textConfigCustom($fontSize: 40, $line-height: 40, $fontWeight: 700);
    }

    &.variation--font-2 {
      @include textConfigCustom($fontSize: 32, $line-height: 32, $fontWeight: 700);
    }

  }
}

@mixin variationsFontText {

  &.variation--type-text {

    &.variation--font-1 {
      @include textConfigCustom($fontSize: 16, $line-height: 20, $fontWeight: 500);
    }
  }
}

@mixin variationsFontLink {
  &.variation--type-link {
    @include textConfigCustom($fontSize: 16, $line-height: 20, $fontWeight: 600);
  }
}

.container-component--sanitize-text {
  @include variationDefaultStyles;

  @include variationFontColors;

  @include variationsFontTitle;
  @include variationsFontText;
  @include variationsFontLink;
}