/*
* @DOCS 📑
*
* 📌 Lista de nome de apps que vão ter o css resetado
*
*/
$appNamesToReset: 'title', 'submit-button', 'selling-price', 'slider', 'installments', 'html-render', 'share', 'sliders', 'product-promotion', 'input-text', 'calculate-shipping', 'input-image', 'product-image', 'old-price', 'breadcrumb', 'slider-colors', 'slider-sizes', 'add-to-cart';

@mixin apply-styles($appNamesToReset) {
  @each $name in $appNamesToReset {

    .container-app-#{$name} *:not([class*="swiper"] *),
    .container-app-#{$name} {
      appearance: none;
      background: unset;
      padding: 0;
      font-family: $secondaryFont;

      margin: 0;
      text-decoration: none;
      border: 0;
      list-style: none;
      box-sizing: border-box;
      outline: none;
    }

    .container-app-#{$name} div {
      line-height: 0
    }
  }
}

@include apply-styles($appNamesToReset);


body div div.container-master-app-buy-box.extra-class {


  .bb-flex {
    display: none;
    display: flex;
    align-items: center;
  }

  .bb-space-between {
    justify-content: space-between;
  }

}