@include mq('1024', max) {

  /*
  * Configuração Padrão. Não remover a menos que o search não precise ocupar uma linha inteira
  * Para alterar o tamanho do search, é necessario apenas alterar os 90vw para o tamanho desejado
*/
  .searchBarContainer {
    transition: all 0.3s ease;
    display: block;
    max-width: 100%;

    .autoCompleteOuterContainer {
      width: 100%;

      @include mq('1025') {
        position: relative;
        top: 10px;
      }
    }

    .resultsList {
      position: fixed;
      right: 50%;
      left: 50%;
      width: 90vw;
      transform: translateX(-50%);

      @include mq('1024') {
        @include abs-position(auto, 0, auto, unset);
        width: 285px;
        transform: unset;
      }
    }

    & :global(.vtex-styleguide-9-x-input) {
      border-bottom: 1px solid $black02;

      &:focus {
        border-color: $black;
        border-bottom: 1px solid $dark-gray-01;
      }

      @include mq('1024', min) {
        border-bottom: 1px solid $dark-gray-01;
        background: none;
      }
    }

    & :global(.vtex-input__suffix) {
      @include abs-position(1px, 1px, 1px, auto);
      border-radius: 8px;
      padding: 0;

      & :global(.vtex-store-components-3-x-searchBarIcon) {
        @include size(37px);
        justify-content: flex-end;
        padding: 0;

        :global(.vtex-store-components-3-x-searchIcon) {
          display: none;
        }

        &::after {
          content: '';
          background: url('assets/icons/header/search-icon-mobile.svg') no-repeat center center;
          @include display-flex(center, flex, center, row);
          @include size(25px, 25px);
        }
      }

      @include mq('1024', min) {
        background: none;
      }
    }

    & :global(.vtex-input-prefix__group) {
      position: relative;
      border: 0;
    }

    @include mq('1024', min) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .searchBarInnerContainer {
    width: 100%;

    @include mq('1024', min) {
      max-width: 200px;
      width: 100%;
    }

    @include mq('1024') {
      .portalContainer {
        z-index: 11 !important;
      }

      .portalContainer,
      .portalWrapper {
        position: absolute !important;
        width: 100%;
      }

      .portalWrapper {
        display: none;
        left: auto;
        right: 126%;

        & :first-child {
          left: 0 !important;
          top: 12px !important;
          width: inherit;
        }

        & :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
          width: 450px;
        }
      }
    }

    &--opened {
      &::before {
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        @include abs-position(0, 0, 0, 0);
        z-index: 9;
      }

      @include mq('1024') {
        border: none;
      }
    }
  }

  .sizeMobile {
    max-width: 43px;
    @include size(100%, 24px);
    display: block;
    margin: 0;
    padding: 0;
    min-width: unset;
  }

  .sizeDesktop {
    padding: 0;
  }

  .imageElement {
    &--menu-header-icons {
      cursor: pointer;
    }
  }

  .imageElementLink--menu-header-icons {
    @include mq('1025') {
      position: relative;
      top: 10px;
    }
  }


}