body div .container-master-app-buy-box .container-app-slider-main-images {

  .swiper-caret-next,
  .swiper-caret-prev {
    display: none;
  }

  .swiper-slide {
    width: 100% !important;
  }



  .swiper-container {
    border-top: 1px solid $light-gray-01;

    padding-bottom: 40px;
    cursor: default;

    .swiper-pagination-bullets {
      top: unset;
      bottom: 10px;
    }

    img {
      cursor: url(https://olympikusio.vtexassets.com/_v/public/assets/v1/published/vtex.store-components@3.169.0/public/react/91618bbaeb77d5f5b0173112a38a893e.svg) 8 8, default
    }

    .swiper-pagination-bullets {
      >span {
        margin: 0 4px;
        height: 6px;
        width: 6px;
        background-color: $light-gray-03;
        cursor: pointer;

        &[class*="active"] {
          background-color: $black;
        }
      }
    }
  }

  .swiper-container-vertical {
    display: none;

    @include mq('1026') {
      display: block;
    }

  }

  .vtex-store-components-3-x-carouselGaleryCursor {
    padding-left: 0 !important;
  }
}
