.container-component--render-breadcrumb {


  &,
  .handled {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  & {

    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include mq('1024') {}

  }

  .identifier--arrow,
  .container-component--link,
  .identifier--page-title {
    @include textConfigCustom($color: #000000, $fontSize: 12, $line-height: 12, $fontWeight: 600);
  }

  .container-component--link {
    cursor: pointer;
    text-decoration: underline;
  }

  .identifier--arrow {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .identifier--page-title {
    font-weight: 700;
  }
}