body div .container-master-app-buy-box .container-app-container {

  &.childrens-with-border {

    >* {
      padding: 20px;
      margin-left: -20px;
      margin-right: -20px;
    }

    >*+* {
      border-bottom: 1px solid $fil-gray;

    }

    > :first-child {
      border-top: 1px solid $fil-gray;
      border-bottom: 1px solid $fil-gray;

    }
  }
}
