/* QUARTO TEMA <theme4> ESTILO AQUÁRIO */
.theme4 {
  .mobile {
    &-container,
    &-overlay,
    &-menuArrowIcon {
      transition: 0.3s;
    }

    &-subItems,
    &-menuSecondItemsWrapper {
      padding: 0 4vw;
    }

    &-hamburguer,
    &-closeButton {
      display: flex;
      background: none;
      padding: 0;
      margin: 0;
      border: 0;
    }

    &-container {
      @include size(85%, 100%);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: $white;
      max-width: 450px;
      min-width: 280px;
      pointer-events: none;
      transform: translate3d(-100%, 0px, 0px);
      @include mq('767', max) {
        width: 100%;
      }
    }

    &-content {
      @include display-flex(inherit, flex, inherit, column);
      overflow-y: scroll;
      height: 100%;
    }

    &-container--Opened {
      pointer-events: initial;
      transform: translate3d(0%, 0px, 0px);
    }

    &-overlay {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      background-color: $blue;
      pointer-events: none;
      opacity: 0;
    }

    &-overlay--Opened {
      pointer-events: initial;
      opacity: 1;
    }

    &-headerContainer {
      height: fit-content;
      padding-top: 40px;
      background-color: $primary-color;
      border-radius: 0 0 30px 0;
    }

    &-titleContainer {
      @include display-flex(center, flex, space-between, inherit);
      @include abs-position(0, auto, auto, 0);
      width: 100%;
      padding: 12px 4vw 10px;
      background-color: $primary-color;
      z-index: 10;
      min-height: 24px;
      &::before {
        content: '';
        @include size(15px);
        display: block;
      }
    }

    &-closeButtonImage {
      max-width: 15px;
    }

    &-buttonsContainer,
    &-titleContent {
      @include display-flex(center, flex, inherit, initial);
    }

    &-logoutButton {
      @include textConfig($white, 12, $fontRegular, 13, left, initial, 50);
      @include abs-position(auto, auto, auto, 0);
      padding-left: 4vw;
    }

    &-title {
      @include textConfig($white, 16, $fontBold, 16, left, initial, 50);
      letter-spacing: 1.6px;
    }

    &-itemsContainer {
      @include display-flex(inherit, flex, inherit, column);
      overflow: hidden;
      padding-top: 1vh;
      border-radius: 0 0 30px 0;
    }

    &-itemsContent,
    &-subItemsContent {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &-item .mobile-itemLink {
      background-color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }

    &-subItem {
      @include display-flex(center, flex, inherit, initial);
      @include font-size(12);
      padding: 2vh 0;
    }

    &-subItemLink {
      color: $white;
      text-decoration: none;
    }

    &-itemLink {
      @include display-flex(center, flex, space-between, initial);
      padding: 14px 4vw;
      text-decoration: none;
      color: $white;
    }

    &-itemTextContent {
      @include display-flex(center, flex, inherit, initial);
    }

    &-itemIcon {
      @include display-flex(center, flex, inherit, initial);
      padding-right: 15px;
      max-width: 15px;
    }

    &-itemText {
      @include textConfig(inherit, 15, $fontRegular, 16, left, initial, 50);
      display: flex;
      border: none;
    }

    &-menuItemLink,
    &-menuSecondItemLink {
      position: relative;
      text-decoration: none;
      display: block;
    }

    &-menuArrowIcon {
      max-width: 18px;
      fill: $primary-color;
      height: auto;
    }

    &-menuItemsTitle,
    &-menuBackButton {
      display: none;
    }

    &-menuSeeAllButton {
      @include textConfig($blue, 12, $fontSemiBold, 13, left, initial, 50);
      padding: 7px 0 14px;
      text-decoration: underline;
      display: block;
    }

    &-menuItems,
    &-menuSecondItems,
    &-menuThirdItems {
      padding: 0;
      margin: 0;
    }

    &-menuItems {
      height: 100%;
      margin-top: 1vh;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: $white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $light-gray-01;
        border-radius: 20px;
        border: 2px solid $white;
      }
    }

    &-menuItem,
    &-menuSecondItem,
    &-menuThirdItem {
      list-style: none;
    }

    &-menuItemLink {
      @include textConfig($primary-color, 15, $fontRegular, 16, left, initial, 50);
      padding: 10px 4vw;
      text-decoration: none;
    }

    &-menuItemLinkText {
      @include display-flex(center, flex, inherit, initial);
    }

    &-menuIcon {
      padding-right: 10px;
    }

    &-menuIconContent {
      @include display-flex(flex-end, flex, inherit, initial);
      height: 20px;
      text-align: center;
    }

    &-menuIcon {
      @include size(100%, inherit);
    }

    &-menuSecondItems .mobile-menuSecondItemLinkText,
    &-menuSecondItems .mobile-menuThirdItemLinkText {
      @include display-flex(center, flex, inherit, initial);
    }

    &-menuSecondItemLink {
      @include textConfig($black, 12, $fontRegular, 13, left, initial, 50);
      padding: 10px 0;
      text-decoration: none;
    }

    &-menuThirdItemLink {
      @include textConfig($black, 12, $fontSemiBold, 13, left, initial, 50);
      display: block;
      padding: 10px 0;
      text-decoration: none;
    }

    &-menuSecondItemsWrapper,
    &-menuThirdItemsWrapper,
    &-subItems {
      pointer-events: none;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.2s;
      overflow: hidden;
      height: 0;
    }

    &-menuItem--Opened {
      background-color: $white01;
    }

    &-menuItem--Opened .mobile-menuSecondItemsWrapper,
    &-menuSecondItem--Opened .mobile-menuThirdItemsWrapper,
    &-item--Opened .mobile-subItems {
      pointer-events: auto;
      transform: scaleY(1);
      height: 100%;
      transition: 0.3s;
    }

    &-menuItemLink,
    &-menuSecondItemLink {
      @include display-flex(center, flex, space-between, initial);
    }

    &-menuItem--Opened .mobile-menuItemLink .mobile-menuArrowIcon,
    &-menuSecondItem--Opened .mobile-menuSecondItemLink .mobile-menuArrowIcon,
    &-item--Opened .mobile-itemLink .mobile-menuArrowIcon {
      transform: rotate(-180deg);
    }

    &-item .mobile-itemLink .mobile-menuArrowIconContent {
      display: flex;
    }

    &-footerContainer {
      display: none;
    }
  }
}

/* FIM DO QUARTO TEMA </theme4> */
