.container-component--shelf-list-desktop.container-component {
  padding-bottom: 80px;

}

.container-component--shelf-desktop--default.container-component {
  position: relative;

  .container-content--shelf--title {
    .title {
      @include textConfigCustom($color: #060606, $fontSize: 32, $line-height: 32, $fontWeight: 700);
      margin-bottom: 40px;
    }
  }
}