%default {
  .containerBlockCollectionProduct {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

%variant {
  &.without5images {
    .seeMoreProducts {
      margin-top: 20px;
      width: calc(100% - 40px);

      @media screen and (min-width: 1024px) {
        margin-top: 35px;
        width: 100%;
      }
    }

    img {
      height: min-content;

      width: min-content;
      display: flex
    }

    .containerBlockCollectionProduct {
      width: 100%;

      >a {
        display: flex;
        justify-content: center;
        padding: 0 20px;
      }
    }
  }

  &.with5Images {
    .containerBlockCollectionProduct>a {
      min-height: 103px;
      display: flex;
      align-items: center;

      img {
        height: min-content;

        width: min-content;
        display: flex
      }
    }

    .imageProduct {
      @media screen and (min-width: 1024px) {
        max-width: 200px;
      }



    }
  }
}

body {
  .containerBlockCollectionSliderProductTab {
    @extend %variant;
    @extend %default;
  }
}
