.container-component--shelf-list-mobile.container-component {
  position: relative;
  padding-bottom: 80px;
}

.container-component--shelf-mobile--default.container-component {

  .container-content--shelf--title {
    .title {
      @include textConfigCustom($color: #060606, $fontSize: 32, $line-height: 32, $fontWeight: 700);
      margin-bottom: 40px;
      text-align: center;
    }
  }
}