.cookieContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.cookieContainer section {
  display: flex;
  justify-content: center;
  gap: 47px;
  align-items: center;
  max-width: 1252px;
  width: 100%;
  position: relative;
  margin: 28px 0;
}

.cookieButton {
  background: none;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all .3s;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #000;
  padding: 0.875rem 1.5625rem;
  white-space: nowrap;
}

.cookieTextContainer {
  display: flex;
  flex-direction: column;
}

.cookieTextContainer span {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-align: left;
  color: #000;
}

@media (max-width: 1252px) {
  .cookieContainer section {
    margin: 20px;
  }
}

@media (max-width: 1025px) {
  .cookieContainer section {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 2.25rem 3.25rem;
  }

  .cookieTextContainer span {
    font-size: 13px;
    margin: 0;
    text-align: center;
  }

  .cookieCloseBtn {
    right: 23px;
    top: 21px;
  }

  .cookieButton {
    margin: 15px 0 0 0;
  }
}