%default {
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 0;

    .containerListCollectionInputRadioOptions {
      display: grid;
      align-items: center;


      grid-template-columns: 1fr 1fr 1fr 1fr;

      row-gap: 25px;
    }
  }
}


body {
  .containerCollectionInputRadioOptions {
    @extend %default;
  }
}
