body .containerCollectionResult {
  margin-top: 30px;
}
body .containerCollectionResult [data-testid=slider-track] {
  position: relative;
  right: 10px;
}
body .containerCollectionResult .containerListCollectionResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .containerCollectionResult .containerListCollectionResult > li:not(:last-child) {
  margin-right: 16px;
}
@media screen and (min-width: 1024px) {
  body .containerCollectionResult .containerListCollectionResult {
    display: grid;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 20px;
  }
  body .containerCollectionResult .containerListCollectionResult > li:not(:last-child) {
    margin-right: 0;
  }
}