body div .container-master-app-buy-box .container-app-slider-sizes {
  .container-title {

    .sizebay-sizebay-3-x-SizeBayContainer {
      justify-content: flex-end;

      * {
        height: auto;
        width: fit-content;
        margin: 0;
        padding: 0;
      }

      > :last-child {
        padding-left: 20px;
      }

      button {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mq('400') {
          flex-direction: row;

          img {
            margin-right: 5px;
          }
        }

        img {
          width: 25px;
          height: 25px;

        }

        p {
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          font-weight: 300;
          color: $black;
        }
      }
    }
  }
}
