.containerFilters {
    display: flex;
    align-items: center;

    position: relative;
}

div.containerFilters button {
    transition: 400ms all;
    flex: 1;

    height: 40px;

    background-color: #0053b294;

    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: white;

    cursor: pointer;
}

div.containerFilters > :first-child {
    border-top-left-radius: 10px;
}

div.containerFilters > :last-child {
    border-top-right-radius: 10px;
}

.containerFilters .current {
    background-color: #005DC7;
}

@media only screen and (min-width: 1024px) {
    .containerFilters {
        border-bottom: 1px solid #707070;
    }


    body div.containerFilters button {
        font-size: 26px;
        line-height: 36px;
        font-weight: 600;
        color: #3F4246;

        padding-right: 50px;
        border-radius: unset;

        background-color: unset;

        position: relative;

        text-align: left;
        height: auto;

        padding-bottom: 10px;
        padding-left: 5px;

        flex: unset;
    }

    body div.containerFilters button:last-child {
        padding-left: 50px;
    }

    body .containerFilters .current {
        background-color: unset;
    }

    body .containerFilters::before {
        content: '';
        position: absolute;
        width: 180px;
        left: 0;
        height: 8px;

        bottom: -5px;
        background-color: #004A9E;

        transition: 500ms all;

        border-radius: 20px;
    }

    body .containerFilters.position2::before {

        left: 180px;
    }
}
