body div .container-master-app-buy-box .container-app-calculate-shipping {
  border-bottom: 1px solid $fil-gray;

  div {
    height: auto;
  }

  .vtex-store-components-3-x-shippingContainer {
    display: flex;
    justify-content: space-between;

    form {
      width: 100%;

      padding-right: 30px;
    }

    a {

      font-size: 0;

      &:hover {
        &::after {
          text-decoration: underline;
        }
      }

      &::after {
        content: 'Não sei meu CEP↗';
        width: fit-content;
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
        color: $black;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;

      }




      svg {
        display: none;
      }
    }

    .vtex-input__error {
      font-size: 15px;
      line-height: 15px;

      display: inline-block;

      margin: 0;
      margin-top: 5px;
    }

    input {
      font-size: 12px;
      line-height: 12px;
      font-weight: 300;
      color: $black;

      max-width: unset;

      &::placeholder {
        opacity: .5;
      }


      height: 30px;
      border-radius: 0;

      border-bottom: 1px solid $black;

      padding: 0 20px 0 10px;

      // https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form
      &:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px white inset !important;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
      }
    }

    .vtex-input__label {
      display: none;
    }

    .vtex-button {

      min-width: 132px;

      >* {
        width: 100%;
      }


      svg {
        fill: $white;
        color: $white;
      }

      &,
      * {
        border-radius: 0;
      }

      & {
        height: 30px;
        position: relative;

        cursor: pointer;
        padding: 0 10px;
        background-color: $black;
        border-radius: 15px;
        width: fit-content;
      }

      .vtex-button__label {
        padding: 0 !important;

        font-size: 0;

        &::after {
          content: "Calcular frete";
          font-size: 18px;
          line-height: 18px;
          font-weight: 300;
          color: $white;
          text-transform: capitalize;
        }
      }


    }



  }


  .vtex-store-components-3-x-shippingNoMessage {
    font-size: 15px;
    line-height: 15px;
  }

  .vtex-store-components-3-x-shippingTable {

    & {

      margin-top: 5px;
    }

    thead th {
      display: none;
    }

    tbody td label {
      font-size: 12px;
      line-height: 12px;
    }

    tbody> :not(:first-child) {
      display: none;
    }
  }

  [class*="shippingTableRow"] {
    td {
      font-size: 12px;
      line-height: 12px;
      font-weight: 600;
      color: $black;
    }

    >td:last-child {
      color: #979899;
      font-size: 12px;
      line-height: 12px;
    }
  }

}
