.containerBrand .containerTermsBrand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerBrand ul {
    display: flex;

    flex-direction: column;

    padding-left: 20px;
}

@media only screen and (min-width: 1024px) {
    .containerBrand ul {
        display: grid;

        padding-left: 0;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
