.footer-checkout{
  background-color: $white;
  .footer-top {
    display: block;
    .wrapper{
      @include mq("1024"){
        @include display-flex(center,space-between,row);
        @include size(1260px,auto);
        border-bottom: 1px solid $gray21;
        margin: 0 auto;
        padding: 25px 0;
      }
    }
    ul li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__content{
      @include mq("1024"){
        @include display-flex(center,space-between,row);
      }
    }
    &__titulo{
      @include textConfig($color-primary, $primaryFont, 16, $fontBold, 18, center, initial, 0);
      display: block;
      @include mq("1024"){
        margin: 0 20px 0 0;
      }
    }
    .footer-seguranca {
      @include display-flex(center,center,row);
      @include size(300px,auto);
      margin: 0 auto 50px;
      @include mq("1024"){
        margin: 0 auto;
      }
      .certificacoes-pci{
        margin: 0 25px
      }
    }
    .footer-pagamento {
      margin: 0 auto;
      @include mq("1024"){
        @include size(100%,auto);
        @include display-flex(center,space-between,row);
      }
      &__titulo{
        @include textConfig($dark-gray01, $secondaryFont, 16, $fontRegular, 15, left, initial, 0);
        display: block;
        margin-bottom: 25px;
        padding: 25px 22px 0 22px;
        @include mq("1024"){
          margin: 0;
          padding: 0 22px 0 0 ;
        }
      }
      &__lista{
        @include display-flex(center,space-between,row);
        flex-wrap: wrap;
        margin: 0;
        padding: 0 22px 20px 22px;
        @include mq("1024"){
          padding: 0;
          > li {
            margin-right: 30px;
          }
          > :last-child{
            margin-right: 0;
          }
        }    
      }
      &__lastchild{
        @include mq("1024"){
          border: none;
          padding: 0;
        }
        border-top: 1px solid $gray21;
        justify-content: space-evenly;
        padding-top: 20px;
      }
    }
  }
  .footer-bottom {
    @include mq("1024"){
      padding: 20px 0;
    }
    padding: 20px 25px 40px;
    .wrapper{
      @include mq("1024"){
        @include display-flex(center,space-between,row);
        @include size(1260px,auto);
        margin: 0 auto;
      }
    }
    @include mq("1024"){
      @include display-flex(center,space-between,row);
    }
    &__copyright{
      @include textConfig($gray22, $secondaryFont, 12, $fontRegular, 21, left, initial, 0);
      @include mq("1024"){
        margin: 0;
      }
    }
    &__credits {
      margin-top: 25px;
      text-align: center;
      @include mq("1024"){
        margin: 0;
      }
      a:first-child{
        position: relative;
        &:after{
          @include abs-position(-6px, 10px,initial,initial);
          @include size(1px,31px);
          background-color: $gray02;
          content:'';
          display: inline-block;
        }
      }
      .logo-avanti {
        padding-right: 20px;
      }
    }
  }
  .footer__row_title{
    @include display-flex(inherit,flex-start,column);
    @include mq("1024"){
      flex-direction: row;
    }
  }
}