.header-checkout {
  @include display-flex(center,space-between,row);
  @include size(100%,65px);
  background-color: $color-primary;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
  .container{
    @include display-flex(center,space-between,row);
    @include size(100%,auto);
    margin: 0 22px;
    @include mq("1200"){
      @include size(1260px,auto);
      margin: 0 auto;
    }
    &:before,&:after{
      content: none;
    }
  }
  &-logo{
    svg {
      @include size(160px,auto);
    }
  }
  &-safebuy {
    @include display-flex(center,space-between,row);
    margin-left: 20px;
    &__icon {
      @include size(17px,25px);
      background: url("data:image/svg+xml,%3Csvg id='Grupo_5680' data-name='Grupo 5680' xmlns='http://www.w3.org/2000/svg' width='17.003' height='25.504' viewBox='0 0 17.003 25.504'%3E%3Cpath id='Caminho_8811' data-name='Caminho 8811' d='M101.274 11.787V7.439a7.439 7.439 0 0 0-14.877 0v4.348a1.591 1.591 0 0 0-1.063 1.5v9.564A2.66 2.66 0 0 0 87.991 25.5H99.68a2.66 2.66 0 0 0 2.657-2.657V13.283A1.591 1.591 0 0 0 101.274 11.787Zm-5.341 8.767a.53.53 0 0 1-.5.7H92.241a.531.531 0 0 1-.5-.7l.663-1.989A2.093 2.093 0 0 1 91.71 17a2.125 2.125 0 0 1 4.251 0 2.1 2.1 0 0 1-.691 1.562Zm2.153-8.865h-8.5V7.439a4.251 4.251 0 1 1 8.5 0Z' transform='translate(-85.334)' fill='%23008ed2'/%3E%3C/svg%3E") no-repeat;
    }
    &__text {
      @include textConfig($white, $secondaryFont, 13, $fontMedium, 16, left, initial, 0);
      margin: 0 0 0 20px;
      padding: 0;
    }
  }
}