.container-component--slider-arrows {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  .button--right-arrow {
    margin-left: 30px;
  }

  .button {
    cursor: pointer;
  }

  @include mq('1024') {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: unset;
    width: 100%;

    .button--right-arrow,
    .button--left-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .button--left-arrow {
      left: 0px;
    }

    .button--right-arrow {
      right: 0px;
    }

    @include mq('1350') {
    .button--left-arrow {
      left: -25px;
    }

    .button--right-arrow {
      right: -25px;
    }
  }
  }

}