.container-component--similar-selector {
  .list--products-similar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .list-item {
      &:not(:last-child) {
        margin-right: 3px;
      }
    }

    .button--switch-product-similar {
      border: 1px solid #f4eded;
      cursor: pointer;

      &:hover {
        border-color: $primary-color;
      }

      outline: none !important;
    }
  }
}
