:global(.vtex-stack-layout-0-x-stackContainer--container_debug) {
  > :nth-child(3) {
    width: 100% !important;
    height: 100% !important;

    >div {
      height: 100% !important;
      justify-content: center !important;
    }
  }
}