.containerCategories .list1 {
    display: grid;

    row-gap: 40px;
}


.containerCategories .title {
    font-size: 17px;
    line-height: 17px;
    font-weight: 600;
    color: #3F4246;

    cursor: pointer;

    margin-bottom: 5px;
    display: block;
}

.containerCategories .list3 {
    margin-left: 10px;
}

@media only screen and (min-width: 750px) {
    .containerCategories .list1 {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}


@media only screen and (min-width: 1024px) {
    .containerCategories .list1 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
    }
}
