body div .container-master-app-buy-box .container-app-product-promotion {


  &,
  * {
    appearance: none;
    background: unset;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
    line-height: 0;
    list-style: none;
    font-family: $primaryFont;
    box-sizing: border-box;
  }

  & {
    display: flex;
    align-items: center;
  }

  svg {
    min-width: 20px;
    min-height: 20px;

    display: flex;
    align-items: center;
  }

  .container-text {
    display: flex;
    align-items: baseline;

    @include mq('1026') {
      width: 100%;

      a {
        margin-left: auto;
      }
    }


    p {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      color: #000;
      font-family: "Olympikus", sans-serif;

      padding-left: 10px;
      padding-right: 10px;
    }

    strong {
      color: #2735d4;
      font-weight: 400;
    }

    a {
      line-height: 12px;
      font-size: 12px;
      position: relative;
      text-decoration: underline;
      min-width: fit-content;

      color: #000;
      font-family: Signal Web, sans-serif;

      font-weight: 400;
    }
  }

}
