%default {
  .reset-button {
    margin-bottom: 25px;
  }

  &.withResult {
    @media screen and (min-width: 370px) {
      .containerResultRightSide {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &.withoutResult {
      display: flex;
    }

    &.withResult {
      display: grid;
      grid-template-columns: 270px 1fr;

      column-gap: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &.withResult {
      grid-template-columns: 1fr 863px;
      column-gap: 90px;
    }
  }

  .containerResultRightSide {
    margin-top: 20px;
    padding: 15px;
    background-color: white;

    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;

    @media screen and (min-width:1024px) {
      padding: 20px 35px;
      row-gap: 50px;
    }

    .containerButton {
      width: 100%;

      display: flex;
      justify-content: center;
      max-width: 400px;

      @media screen and (min-width: 1024px) {
        width: auto;
      }

    }

    .paginationDotsContainer {
      column-gap: 10px;
      display: flex;
      align-items: center;
      bottom: -15px;

      .paginationDot {
        width: 6px !important;
        height: 6px !important;
        background-color: #C4C4C4;

        &--isActive {
          height: 8px !important;
          width: 8px !important;
          background-color: #3F4246;
        }
      }
    }
  }

  :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    display: none; // extension point not work
  }

  :global(.lojasmarabrazqa-store-theme-3-x-sliderLeftArrow) {
    svg {
      display: none
    }

    cursor: pointer;

    &:not(:disabled) {
      &::after {
        content: url(https://lojasmarabrazqa.vteximg.com.br/arquivos/arrow-right-shopping-guide.png);
        transform: rotate(180deg);
      }
    }

    &:disabled {
      cursor: not-allowed;

      &::after {
        content: url(https://lojasmarabrazqa.vteximg.com.br/arquivos/arrow-left-shopping-guide.png);
      }
    }
  }

  :global(.lojasmarabrazqa-store-theme-3-x-sliderRightArrow) {
    svg {
      display: none
    }

    cursor: pointer;

    &::after {
      content: url(https://lojasmarabrazqa.vteximg.com.br/arquivos/arrow-right-shopping-guide.png);
    }

    &:disabled {
      cursor: not-allowed;

      &::after {
        content: url(https://lojasmarabrazqa.vteximg.com.br/arquivos/arrow-left-shopping-guide.png);
        transform: rotate(180deg);
      }
    }
  }
}

.containerResultLayout {
  @extend %default;
}
