.accordionWrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.accordionWrapper svg {
  width: 18px;
  height: 18px;
  fill: #9080D6;
  display: flex;
}

.ctaFirstLevel,
.ctaSecLevel {
    transition: all 0.3s ease;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
  }
  .containerFirstLevel {
    height: 57px;
    overflow: hidden;
    transition: all 0.3s ease;
    animation: fade-in 700ms forwards;
  }

  .containerFirstLevel svg {
    transform: rotate(0deg);
    transition: 300ms ease-in-out;
    
  }

  .containerFirstLevelActive {
    height: auto;
    transition: all 0.3s ease;
    border-radius: 30px;
    background-color: #FFF;
    transform: translateY(-5px);
    animation: fade-in 700ms forwards;
    padding-bottom: 30px;
    
  }

  .containerFirstLevelActive svg {
    transform: rotate(180deg);
    transition: 300ms ease-in-out;
    fill: #FFF;
  }
  
  .containerFirstLevelActive .ctaFirstLevel {
    background-color: #9080D6;
  }
  .containerFirstLevelActive .containerFirstLevelTitle {
    color: #FFF;
  }

  .containerFirstLevelActive .containerSecLevelActive{
    transform: translateY(-5px);
    animation: fade-in 700ms forwards;
  }

  .containerFirstLevelTitle {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: left;
    color: #FF7BB7;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0 27px 0 35px;
  }
  
  .ctaFirstLevel {
    background-color: #FFF;
    border-radius: 6.25rem;
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    
  }

  .ctaSecLevel {
    width: 100%;
    height: 100%;
  }




 
  @keyframes fade-in {
    0% {

    }
    100% {
      transform: translateY(0);
    }
  }

  .containerSecLevel {
    margin-top: 30px;
    height: 57px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .containerSecLevelActive {
    margin-top: 30px;
    height: auto;
    transition: all 0.3s ease;
  }
  
  .containerSecLevelLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
  }
  
  .titleSecLevel {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: left;
    color: #491835;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    padding: 0 27px 0 35px;
  }
  
  .contentSecLevel {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: left;
    color: #491835;
    margin-top: 8px;
    padding: 0 27px 0 35px ;
  }
  

  .titleSecLevel svg {
    fill: #9080D6;
  }
  
  .containerSecLevel svg {
    fill: #9080D6;
    transform: rotate(0deg);
    transition: 300ms ease-in-out;
  }
  
  .containerSecLevelActive svg {
    transform: rotate(180deg);
    transition: 300ms ease-in-out;
  }
  
  
  
  @media (max-width: 1024px) {
    .containerSecLevelLinks {
      flex-direction: column;
      align-items: flex-start;
    }

    .containerFirstLevelTitle, .titleSecLevel {
      font-size: 14px;
    }

    .contentSecLevel {
      font-size: 12px;
    }
  }

