@mixin textConfigCustom($color: null,
  $fontSize: null,
  $fontWeight: null,
  $line-height: null,
  $textAlign: null,
  $textTransform: null,
  $letterspacing: null) {
  @if $color !=null {
    color: $color;
  }

  @if $fontSize !=null {
    font-size: #{$fontSize}px;
  }

  @if $fontWeight !=null {
    font-weight: $fontWeight;
  }

  @if $line-height !=null {
    line-height: #{$line-height}px;
  }

  @if $textAlign !=null {
    text-align: $textAlign;
  }

  @if $textTransform !=null {
    text-transform: $textTransform;
  }

  @if $letterspacing !=null {
    letter-spacing: $letterspacing;
  }
}