.component-list.common {

  &.container {

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  &.item {
    font-size: 14px;
    line-height: 14px;

    .item {
      padding-left: 20px;

      .item {
        padding-left: 30px;
      }
    }

    color: $primary;
  }
}