%default {
  display: flex;
  align-items: center;
  justify-content: center;


  margin-bottom: 24px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
  }

  &>li:not(:last-child) {
    margin-right: 28px;
  }
}


body {
  .containerCollectionStepsInfo {
    @extend %default;
  }
}
