/* TERCEIRO TEMA <theme3> ESTILO FARMÁCIAS SÃO JOÃO */
.theme3 {
  .mobile {
    &-container,
    &-overlay,
    &-menuArrowIcon {
      transition: 0.3s;
    }

    &-headerContainer,
    &-footerContainer {
      padding: 0 4vw;
    }

    &-hamburguer,
    &-closeButton,
    &-menuBackButton {
      display: flex;
      background: none;
      padding: 0;
      margin: 0;
      border: 0;
    }

    &-container {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: $white;
      @include size(85%, 100%);
      max-width: 346px;
      min-width: 280px;
      pointer-events: none;
      transform: translate3d(-100%, 0px, 0px);
    }

    &-content {
      @include display-flex(inherit, flex, space-between, column);
      @include size(100%);
      position: relative;
    }

    @include mq('767', max) {
      &-container {
        width: 100%;
      }
    }

    &-container--Opened {
      pointer-events: initial;
      transform: translate3d(0%, 0px, 0px);
    }

    &-overlay {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      background-color: $blue;
      pointer-events: none;
      opacity: 0;
    }

    &-overlay--Opened {
      pointer-events: initial;
      opacity: 1;
    }

    &-headerContainer {
      background-color: $white02;
      height: 22vh;
      max-height: 22vh;
    }

    &-titleContainer {
      @include display-flex(flex-start, flex, space-between, row);
      width: 100%;
      padding-top: 3vh;
    }

    &-titleContent {
      min-height: 24px;
    }

    &-title {
      @include textConfig($primary-color, 16, $fontBold, 17, left, initial, 50);
      text-align: left;
      margin: 0;
    }

    &-buttonsContainer {
      @include display-flex(center, flex, center, row);
    }

    &-logoutButton {
      color: $black;
      padding-right: 10px;
    }

    &-itemsContainer {
      @include display-flex(flex-start, flex, center, column);
      max-height: 15vh;
      overflow: auto;
      padding: 3vh 0 1.5vh;
    }

    &-itemsContent {
      padding: 0;
      margin: 0;
      list-style: none;
      overflow-x: hidden;
    }

    &-itemLink {
      @include display-flex(center, flex, space-between, row);
      padding-bottom: 2vh;
      text-decoration: none;
      color: $black;
    }

    &-itemTextContent {
      @include display-flex(center, flex, center, row);
    }

    &-itemIcon {
      @include display-flex(center, flex, center, row);
      padding-right: 15px;
      max-width: 18px;
    }

    &-itemText {
      @include textConfig($black, 12, $fontSemiBold, 13, left, initial, 50);
      display: flex;
      text-decoration: none;
      border: none;
    }

    &-menuContainer {
      color: inherit;
    }

    &-menuItemsWrapper {
      height: 60vh;
    }

    &-subItems,
    &-item .mobile-menuArrowIconContent {
      display: none;
    }

    &-subItems {
      height: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.3s;
    }

    &-item--Opened .mobile-subItems {
      height: 100%;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &-itemLink .mobile-menuArrowIcon {
      transform: rotate(0deg);
      transition: 0.3s;
    }

    &-item--Opened .mobile-itemLink .mobile-menuArrowIcon {
      transform: rotate(180deg);
    }

    &-menuItemsWrapper,
    &-menuSecondItemsWrapper,
    &-menuThirdItemsWrapper {
      padding: 3vh 2vw;
    }

    &-menuItems,
    &-menuSecondItems,
    &-menuThirdItems {
      overflow-y: auto;
      overflow-x: hidden;
      height: fit-content;
      max-height: 55vh;
      display: grid;
      gap: 15px;
      padding: 1vh 1vw;
      margin: 0;
    }

    &-menuItems,
    &-menuSecondItems,
    &-menuThirdItems {
      &::-webkit-scrollbar {
        width: 10px;
      }
    }

    &-menuItems,
    &-menuSecondItems,
    &-menuThirdItems {
      &::-webkit-scrollbar-track {
        background: $white;
      }
    }

    &-menuItems,
    &-menuSecondItems,
    &-menuThirdItems {
      &::-webkit-scrollbar-thumb {
        background-color: $light-gray-02;
        border-radius: 20px;
        border: 2px solid $white;
      }
    }

    &-menuItems {
      max-height: 60vh;
    }

    &-menuItem,
    &-menuSecondItem,
    &-menuThirdItem {
      list-style: none;
    }

    &-menuItemLink,
    .mobile-menuSecondItemLink {
      text-decoration: none;
      display: block;
    }

    &-menuArrowIcon {
      max-width: 13px;
      height: auto;
    }

    &-menuItemLink,
    &-menuSecondItemLink,
    &-menuThirdItemLink {
      text-decoration: none;
      text-align: left;
      @include textConfig($black, 14, $fontRegular, 15, left, initial, 50);
    }

    &-menuItemLinkText {
      @include display-flex(center, flex, center, row);
    }

    &-menuIcon {
      padding-right: 10px;
    }

    &-menuIconContent {
      @include display-flex(flex-end, flex, center, row);
      height: 20px;
      text-align: center;
    }

    &-menuIcon {
      @include size(100%, inherit);
    }

    &-menuSecondItems {
      .mobile-menuSecondItemLinkText,
      .mobile-menuThirdItemLinkText {
        @include display-flex(center, flex, center, row);
      }
    }

    &-menuSecondItemsWrapper,
    &-menuThirdItemsWrapper {
      @include size(100%);
      position: absolute;
      left: 0;
      visibility: hidden;
      pointer-events: none;
      background-color: $white;
      transform: translate3d(-100%, 0px, 0px);
      z-index: 10;
      transition: 0.3s;
    }

    &-menuSecondItemsWrapper {
      top: 22vh;
    }

    &-menuThirdItemsWrapper {
      top: 0;
    }

    &-menuItem--Opened .mobile-menuSecondItemsWrapper,
    &-menuSecondItem--Opened .mobile-menuThirdItemsWrapper {
      transform: translate3d(0%, 0px, 0px);
      visibility: visible;
      pointer-events: auto;
    }

    &-menuItemLink,
    &-menuSecondItemLink {
      @include display-flex(center, flex, space-between, row);
    }

    &-menuArrowIconContent {
      display: flex;
    }

    &-menuBackButton {
      align-items: center;
      @include textConfig($primary-color, 13, $fontSemiBold, 14, left, initial, 50);

      .mobile-menuArrowIconContent {
        padding-right: 6px;
      }

      .mobile-menuArrowIcon {
        transform: rotate(90deg);
        fill: $primary-color;
      }
    }

    &-menuArrowIcon {
      transform: rotate(270deg);
    }

    &-menuItemsTitleContent {
      padding: 0 1vw;
    }

    &-menuItemsTitleLink {
      text-decoration: none;
    }

    &-menuItemsTitle {
      @include textConfig($primary-color, 16, $fontSemiBold, 17, left, initial, 50);
      text-align: left;
      padding: 0;
      margin: 15px 0;
    }

    &-menuSeeAllButton {
      @include textConfig($black02, 14, $fontRegular, 15, left, initial, 50);
      text-align: left;
      display: block;
      padding: 0 1vw 10px;
    }

    &-footerContainer {
      margin-top: 5vh;
    }
  }
}

/* FIM DO TERCEIRO TEMA </theme3> */
