%default {
  display: flex;

  flex-direction: column;

  margin-bottom: 25px;

  @media screen and (min-width: 1024px) {
    max-width: 595px;

    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }
}

body {
  .containerHeaderLayout {
    @extend %default;
  }
}
