.containerAppSellerSelector {
  width: 100%;
}
.containerAppSellerSelector,
.containerAppSellerSelector * {
  font-family: "Neris";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}
.containerAppSellerSelector button {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.containerAppSellerSelector .topSide .titleFrete {
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  color: #707070;
  margin-bottom: 5px;
}
.containerAppSellerSelector .topSide .containerInput {
  color: #3f4246;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}
.containerAppSellerSelector .topSide .textCep {
  color: #005dc7;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-decoration: underline;
  display: block;
}
.containerAppSellerSelector .topSide {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .containerAppSellerSelector .topSide {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #d1d1d1;
    border-top: unset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.containerAppSellerSelector .topSide .containerShipping {
  margin-bottom: 10px;
  padding-right: 35px;
  position: relative;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  padding-left: 20px;
}
.containerAppSellerSelector .topSide .containerInput {
  width: 100%;
  height: 40px;
  border: none;
}
.containerAppSellerSelector .topSide .containerButton {
  width: 35px;
  height: 100%;
  background-color: #F7F9FF;
  position: absolute;
  right: 0;
  top: 0;
}
.containerAppSellerSelector .topSide .textCep {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #005DC7;
}
.containerAppSellerSelector .bottomSide .WrapperBuyButton button {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #005DC7;
}
.containerAppSellerSelector .bottomSide .containerTextSeller p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #000000;
}
.containerAppSellerSelector .bottomSide .containerTextSeller p:last-child, .containerAppSellerSelector .bottomSide .containerTextSeller p:first-child {
  font-weight: 600;
}
.containerAppSellerSelector .bottomSide {
  padding: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) {
  .containerAppSellerSelector .bottomSide {
    overflow: hidden;
  }
}
.containerAppSellerSelector .bottomSide .hasMoreThan {
  box-sizing: border-box;
}
.containerAppSellerSelector .bottomSide .hasMoreThan::after {
  content: "";
  width: 100%;
  margin: 10px 0;
  height: 1px;
  background-color: #D2D2D2;
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .containerAppSellerSelector .bottomSide .containerBodySeller {
    animation-name: translateBodySeller;
    animation-fill-mode: both;
  }
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(2) {
  animation-duration: 1000ms;
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(3) {
  animation-duration: 1400ms;
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(4) {
  animation-duration: 1800ms;
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(5) {
  animation-duration: 2200ms;
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(6) {
  animation-duration: 2600ms;
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(7) {
  animation-duration: 3000ms;
}
.containerAppSellerSelector .bottomSide .containerBodySeller:nth-child(8) {
  animation-duration: 3400ms;
}
@keyframes translateBodySeller {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller,
.containerAppSellerSelector .bottomSide .containerTextSeller {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 23% 23% 23% 23%;
}
.containerAppSellerSelector .bottomSide .WrapperBuyButton {
  margin-top: 15px;
}
.containerAppSellerSelector .bottomSide .WrapperBuyButton,
.containerAppSellerSelector .bottomSide .WrapperBuyButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.containerAppSellerSelector .bottomSide .WrapperBuyButton button {
  border-radius: 10px;
  background-color: #FF9700;
  height: 35px;
  transition: 300ms all;
}
.containerAppSellerSelector .bottomSide .WrapperBuyButton button:hover {
  background-color: #e68800;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller {
  margin-bottom: 10px;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller > p {
  animation-name: translateHeaderSeller;
  animation-fill-mode: both;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller > p:nth-child(1) {
  animation-duration: 500ms;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller > p:nth-child(2) {
  animation-duration: 600ms;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller > p:nth-child(3) {
  animation-duration: 700ms;
}
.containerAppSellerSelector .bottomSide .containerHeaderSeller > p:nth-child(4) {
  animation-duration: 800ms;
}
@keyframes translateHeaderSeller {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}