@mixin CmsText {
  .sanitized--text {
    @include textConfigCustom($color: #000000, $fontSize: 14, $line-height: 26, $fontWeight: 500);
    letter-spacing: .5px;
  }

  .sanitized--head {
    @include textConfigCustom($color: #000000, $fontSize: 14, $line-height: 14, $fontWeight: 700);

    margin: 20px 0 10px 0;
  }
}

@mixin CmsImage {
  .container-content--image-responsive {
    margin: 30px 0;
  }
}

@mixin renderContent {
  .title--main {
    @include textConfigCustom($color: #000000, $fontSize: 16, $line-height: 16, $fontWeight: 700);
    margin-bottom: 20px;
    text-align: center;

    @include mq('1024') {
      text-align: left;
      margin-bottom: 30px;
    }

  }
}

.container-component--render-content {
  .handled {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  @include CmsText();
  @include CmsImage();
  @include renderContent();


}