.container-component--landing-page-1 {


  .container-content--section- {
    &4 {
      background-color: #F2F2F2;
    }

    &6 {
      background-color: #060606
    }
  }

  .container-content--main {
    margin-top: 70px;

    &.container-content--section-1 {
      margin-top: 0
    }
  }

  .container-component--session- {

    &2,
    &3,
    &4,
    &5,
    &6 {
      @include grid();
    }
  }
}