.container-component--product-summary.container-component {
  margin-left: auto;
  margin-right: auto;

  min-width: 160px;
  width: 160px;

  .container-content--product-image {
    min-height: 160px;
  }

  @include mq('1024') {
    min-width: 300px;
    width: 300px;

    .container-content--product-image {
      min-height: 300px;
    }
  }

  .container-content--product-info {
    display: flex;
    flex-direction: column;
    height: 100%;

    // justify-content: space-between;
  }


  .link--product-summary {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container-component--similar-selector,
  .container-content--similar-selector.container-content--skeleton {
    opacity: 0;
    transition: 200ms all;

    margin-top: 10px;
  }

  &:hover {

    .container-component--similar-selector,
    .container-content--similar-selector.container-content--skeleton {
      opacity: 1;
    }

    .container-content--product-image {
      .image--1 {
        z-index: 0;
      }
    }
  }

  .container-content--rest {
    @include mq('1024') {
      margin-top: auto;
    }

  }

  .title--product-name {
    max-width: 110px;


    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mq('1024') {
      max-width: 170px;
    }

    @include textConfigCustom($color: #060606, $fontSize: 14, $line-height: 18, $fontWeight: 600, $fontSizeDesktop: 14, $lineHeightDesktop: 18);
  }


  .container-content--product-image {
    overflow: hidden;
    position: relative;

    .image--1 {
      position: relative;
      z-index: 1;
      content-visibility: auto;
    }

    .image--2 {
      position: absolute;
      top: 0;
      left: 0;
      content-visibility: auto;
    }


    .container-component--add-to-cart {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
}