body [data-variant-1=true].containerContentRender > span {
  background-color: red !important;
}
body [data-variant-2=true].containerContentRender > span {
  background-color: blue !important;
}

body .containerContentRender {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}