body div .container-master-app-buy-box .container-app-add-to-cart {
  .container-app-var-add-to-cart {

    &,
    button {
      width: 100%;
      height: 100%;
    }
  }

  .text-limit-stock {
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Signal Web';
    font-weight: 300;
  }
}
