@import './include-media';

$media-400: 400px;
$media-576: 576px;
$media-768: 768px;
$media-992: 992px;
$media-1100: 1100px;
$media-1200: 1200px;
$media-1300: 1300px;

.pp-c-modal.modal {
  padding-right: 0 !important;

  &.show {
    display: flex !important;

  }

  .modal-dialog.modal-dialog-centered {
    margin: auto;
    border-radius: 20px;

    background-color: #F8FAFC;
    min-height: 350px;
    max-height: 900px;

    height: calc(100% - 70px);
    width: calc(100% - 20px);
    max-width: 1200px;

    padding: 20px 20px 35px;
    pointer-events: all;

    &::before {
      display: none;
    }

  }




  & {

    /* width */
    ::-webkit-scrollbar {
      width: 20px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #F2F2F2;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #42BDD9;
      border-radius: 10px;
    }
  }

  .container-content {
    overflow-y: scroll;

    max-height: 600px;
    padding: 0 5px;

    flex: 1;
    width: 100%;
  }

  header {
    padding-bottom: 30px;

    button.close {
      opacity: 1;
      width: 55px;
    }
  }


  @include media('>#{$media-576}') {
    .container-content {
      padding: 0 20px;
    }
  }

  @include media('>#{$media-768}') {
    .modal-dialog.modal-dialog-centered {
      width: calc(100% - 100px);
    }
  }

  @include media('>#{$media-992}') {
    header {
      padding-bottom: 40px;
    }

    .modal-dialog.modal-dialog-centered {
      padding: 35px 40px 30px 40px;
    }


  }

}

@mixin resetBootstrap {
  .container {
    max-width: 1240px;
  }

  .bg-secondary {
    background-color: #F8FAFC !important;
  }

  .border-secondary {
    border: 1px solid darken(#F8FAFC, 10%) !important;
    border-radius: 20px;
  }

  h2,
  p {
    margin: 0;
  }

  @media only screen and (min-width: 1300px) {
    padding: 0;
  }

}

@mixin reset {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}



@mixin configureFont {
  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #18181B;

  }

  p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;

    color: #777777;
  }
}

@mixin configureButton {

  a.btn.btn-,
  button.btn.btn- {

    &primary,
    &outline-secondary,
    &outline-light,
    &group>.btn:not(.dropdown-toggle) {
      box-sizing: border-box;
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      line-height: 18px;
      min-height: 45px;
      border-radius: 10px;


      @include media('>#{$media-992}') {
        min-height: 56px;
      }
    }

  }

  // button.btn-outline-secondary,
  // button.btn-primary,
  // a.btn-outline-light
  // a.btn-primary,
  // .btn-group>.btn:not(.dropdown-toggle) {
  //   box-sizing: border-box;
  //   font-weight: 600;
  //   font-size: 18px;
  //   line-height: 18px;
  //   line-height: 18px;
  //   min-height: 45px;
  //   border-radius: 10px;


  //   @include media('>#{$media-992}') {
  //     min-height: 56px;
  //   }
  // }

  a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-primary {
    background-color: #42BDD9;
    min-height: 36px;
    color: #FFFFFF;
    border: unset;
    border-radius: 10px;
    transition: 300ms all;

    &:hover {
      background-color: darken(#42BDD9, 10%);
    }
  }
}

@mixin configureImage {
  .container-image>div {
    border-radius: 15px;
    height: 100%;
    background-color: #777777;
    width: 100%;
  }
}

body {
  @include resetBootstrap();

}

%pageDefaultStyles {
  @include configureButton();
  @include configureFont();
  @include configureImage();
  @include reset();
}


body {
  @include resetBootstrap();
}

body {

  .page-fotos,
  .page-projetos,
  .page-contato,
  .page-eventos,
  .page-entrevistas,
  .page-cancer-de-pulmao,
  .pp-page-sobre-nos,
  .pp-page-home-section-about-us,
  .pp-page-home-section-truck,
  .pp-page-home-section-main-banner {
    @extend %pageDefaultStyles;
  }
}

body .page-fotos {
  ul {
    padding: 0;

    &.list-articles {
      row-gap: 60px;
    }
  }

  li.item-article {
    border: 1px solid rgba(82, 82, 91, 0.1);
    border-radius: 20px;
    background-color: #F8FAFC;
    padding: 20px;

  }

  .container-image>div {
    width: 462px;
    height: 300px;
    background-color: #777777;
  }


  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 35px;
  }

  button.slick-prev.slick-arrow {
    transform: rotate(180deg) translateY(50%);
    left: 20px;
  }


  button.slick-next.slick-arrow {
    right: 20px;
    transform: translateY(-50%);

  }



  button.slick-next.slick-arrow,
  button.slick-prev.slick-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 40L40 30L30 20L26.5 23.5L30.5 27.5H20V32.5H30.5L26.5 36.5L30 40ZM30 55C26.5417 55 23.2917 54.3433 20.25 53.03C17.2083 51.7183 14.5625 49.9375 12.3125 47.6875C10.0625 45.4375 8.28167 42.7917 6.97 39.75C5.65667 36.7083 5 33.4583 5 30C5 26.5417 5.65667 23.2917 6.97 20.25C8.28167 17.2083 10.0625 14.5625 12.3125 12.3125C14.5625 10.0625 17.2083 8.28083 20.25 6.9675C23.2917 5.65583 26.5417 5 30 5C33.4583 5 36.7083 5.65583 39.75 6.9675C42.7917 8.28083 45.4375 10.0625 47.6875 12.3125C49.9375 14.5625 51.7183 17.2083 53.03 20.25C54.3433 23.2917 55 26.5417 55 30C55 33.4583 54.3433 36.7083 53.03 39.75C51.7183 42.7917 49.9375 45.4375 47.6875 47.6875C45.4375 49.9375 42.7917 51.7183 39.75 53.03C36.7083 54.3433 33.4583 55 30 55Z' fill='%2342BDD9'/%3E%3C/svg%3E");

    width: 45px;
    height: 45px;

    @include media('>#{$media-768}') {
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 40L40 30L30 20L26.5 23.5L30.5 27.5H20V32.5H30.5L26.5 36.5L30 40ZM30 55C26.5417 55 23.2917 54.3433 20.25 53.03C17.2083 51.7183 14.5625 49.9375 12.3125 47.6875C10.0625 45.4375 8.28167 42.7917 6.97 39.75C5.65667 36.7083 5 33.4583 5 30C5 26.5417 5.65667 23.2917 6.97 20.25C8.28167 17.2083 10.0625 14.5625 12.3125 12.3125C14.5625 10.0625 17.2083 8.28083 20.25 6.9675C23.2917 5.65583 26.5417 5 30 5C33.4583 5 36.7083 5.65583 39.75 6.9675C42.7917 8.28083 45.4375 10.0625 47.6875 12.3125C49.9375 14.5625 51.7183 17.2083 53.03 20.25C54.3433 23.2917 55 26.5417 55 30C55 33.4583 54.3433 36.7083 53.03 39.75C51.7183 42.7917 49.9375 45.4375 47.6875 47.6875C45.4375 49.9375 42.7917 51.7183 39.75 53.03C36.7083 54.3433 33.4583 55 30 55Z' fill='%2342BDD9'/%3E%3C/svg%3E");

      width: 60px;
      height: 60px;
    }

    z-index: 100;


    &::before {
      display: none;
    }
  }

  @include media('>#{$media-992}') {
    li.item-article {
      padding: 55px 50px;

    }
  }

}

body .page-eventos {
  h2 {
    margin-bottom: 20px;
  }

  p {
    line-height: 34px;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;

    row-gap: 70px;

    li {
      row-gap: 30px;
      display: flex;
      flex-direction: column-reverse;



      padding: 15px 15px 30px;

      border-radius: 15px;
      background-color: #F8FAFC;

      min-height: 380px;

      border: 1px solid rgba(82, 82, 91, 0.1);

      .container-image {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container-content {
        display: flex;
        flex-direction: column;

        .btn-primary {
          width: 100%;


          margin-top: 30px;

          @media only screen and (min-width: 1100px) {
            margin-top: auto;
          }
        }
      }

      @include media('>#{$media-576}') {
        padding: 35;
      }

      @include media('>#{$media-992}') {
        display: grid;
        grid-template-columns: 1fr 462px;
        column-gap: 50px;

        padding: 43px 43px 30px;

        .container-content {
          padding-top: 20px;
        }

        &.revert {
          grid-template-columns: 462px 1fr;

          .container-image {
            grid-column: 1/2;
            grid-row: 1/2;
          }
        }
      }
    }
  }

  img.content-right {
    margin-bottom: 30px;
  }
}

body .page-projetos {


  h2 {
    margin-bottom: 20px;
  }

  p {
    line-height: 34px;
  }

  ul:not(.list-social-links) {
    padding: 0;
    display: flex;
    flex-direction: column;

    row-gap: 70px;

    li:not(.list-social-links li) {
      row-gap: 30px;
      display: flex;
      flex-direction: column-reverse;



      padding: 15px 15px 30px;

      border-radius: 15px;
      background-color: #F8FAFC;

      min-height: 380px;

      border: 1px solid rgba(82, 82, 91, 0.1);

      .container-image {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container-content {
        display: flex;
        flex-direction: column;

        .btn-primary {
          width: 100%;


          margin-top: 30px;

          @media only screen and (min-width: 1100px) {
            margin-top: auto;
          }
        }
      }

      @include media('>#{$media-576}') {
        padding: 35;
      }

      @include media('>#{$media-992}') {
        display: grid;
        grid-template-columns: 1fr 462px;
        column-gap: 50px;

        padding: 43px 43px 30px;

        .container-content {
          padding-top: 20px;
        }

        &.revert {
          grid-template-columns: 462px 1fr;

          .container-image {
            grid-column: 1/2;
            grid-row: 1/2;
          }
        }
      }
    }
  }

  .modal {
    @include media('>#{$media-1300}') {
      .modal-dialog.modal-dialog-centered {
        width: 100%;
      }
    }

    img.content-right {
      margin-bottom: 30px;
    }

    footer {
      .modal-container-logos-footer {
        column-gap: 20px;
      }

      hr {
        padding: 25px 0;
        margin: 0;
      }

      ul.list-social-links {
        column-gap: 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #18181B;
        margin-bottom: 15px;
      }
    }

    @include media('>#{$media-992}') {
      img.content-right {
        margin-bottom: 0;
      }
    }
  }
}

body .page-contato {

  button.btn-outline-secondary {
    border-color: #42BDD9;
    color: #2A3334;

    &:hover {
      color: #FFFFFF;
      background-color: darken(#42BDD9, 10%);
    }
  }

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #18181B;

    margin-bottom: 5px;
  }

  .form-row.form-group.flex-column.flex-sm-row {
    margin-bottom: 20px;

    row-gap: 5px;

    input,
    textarea,
    option,
    select {

      &,
      &::placeholder {

        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #2A3334;
      }
    }

    input {
      min-height: 48px;
    }

    textarea {
      min-height: 144px;
    }
  }

  .btn-group {
    margin-top: 30px;
    row-gap: 15px;
  }

  .form-row.form-group.flex-column.flex-sm-row,
  .btn-group {
    @media only screen and (min-width: 576px) {
      row-gap: 0;
      column-gap: 30px;
    }

    @media only screen and (min-width: 1024px) {
      column-gap: 80px;
    }
  }


}

body .page-entrevistas {

  ul.list-entrevistas {
    display: grid;
    padding: 0;
    row-gap: 50px;

    align-items: center;
    justify-content: center;

    a.container-article {
      padding: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include media('>#{$media-768}') {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      justify-content: space-between;

      a.container-article {
        padding: 40px 30px;

      }
    }

    @include media('>#{$media-992}') {
      grid-template-columns: 1fr 1fr 1fr;

      a.container-article {
        padding: 80px 40px 60px 40px;
      }
    }

  }





  h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #18181B;
    margin-bottom: 10px;

  }


  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #777777;

    margin-bottom: 25px;
  }

  .container-image {
    position: relative;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.5 36.625V63.375C37.5 65.2917 38.375 66.75 40.125 67.75C41.875 68.75 43.5833 68.6667 45.25 67.5L66 54.25C67.5833 53.25 68.375 51.8333 68.375 50C68.375 48.1667 67.5833 46.75 66 45.75L45.25 32.5C43.5833 31.3333 41.875 31.25 40.125 32.25C38.375 33.25 37.5 34.7083 37.5 36.625ZM50 100C43.0833 100 36.5833 98.6867 30.5 96.06C24.4167 93.4367 19.125 89.875 14.625 85.375C10.125 80.875 6.56333 75.5833 3.94 69.5C1.31333 63.4167 0 56.9167 0 50C0 43.0833 1.31333 36.5833 3.94 30.5C6.56333 24.4167 10.125 19.125 14.625 14.625C19.125 10.125 24.4167 6.56167 30.5 3.935C36.5833 1.31167 43.0833 0 50 0C56.9167 0 63.4167 1.31167 69.5 3.935C75.5833 6.56167 80.875 10.125 85.375 14.625C89.875 19.125 93.4367 24.4167 96.06 30.5C98.6867 36.5833 100 43.0833 100 50C100 56.9167 98.6867 63.4167 96.06 69.5C93.4367 75.5833 89.875 80.875 85.375 85.375C80.875 89.875 75.5833 93.4367 69.5 96.06C63.4167 98.6867 56.9167 100 50 100Z' fill='%2342BDD9'/%3E%3C/svg%3E");
      ;

      width: 100px;
      height: 100px;

      display: flex;

      bottom: 10px;

      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

.pp-c-container-bg-secondary {
  padding: 40px 50px;

  background-color: #F8FAFC;
  border-radius: 20px;
  border: 1px solid darken(#F8FAFC, 10%);
}

.pp-c-container-image-effect-primary {
  @include media('>#{$media-992}') {
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-right: auto;
    z-index: 1;

    padding-left: 40px;

    &::before {
      border-radius: 20px;
      content: '';
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: -40px;
      width: 120px;
      height: 100%;
      background-color: #42BDD9;
    }
  }

}

body .pp-page-sobre-nos {
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #18181B;
  }

  ul {
    padding: 0;
  }

  p {
    line-height: 34px;
  }


  .pp-container-1 {
    display: grid;
    justify-items: center;

    &,
    img {
      margin-bottom: 50px;
    }

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    @include media('>#{$media-768}') {

      &,
      img {
        margin-bottom: 70px;
      }
    }

    @include media('>#{$media-992}') {
      margin-bottom: 120px;

      display: grid;
      grid-template-columns: minmax(520px, 1fr) 1fr;
      column-gap: 50px;

      h3 {
        text-align: left;
      }

      .pp-container-image {
        img {
          margin: 0;
          height: 307px;
          width: 462px;
        }

        &::after {
          position: absolute;
          z-index: -1;
          right: -35px;
          bottom: 100px;
          content: url("data:image/svg+xml,%3Csvg width='51' height='155' viewBox='0 0 51 155' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='2.44105' y1='56.3333' x2='48.925' y2='26.1463' stroke='%2342BDD9' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.44105' y1='31.7459' x2='48.925' y2='1.55889' stroke='%2342BDD9' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.44105' y1='80.4339' x2='48.925' y2='50.2469' stroke='%2342BDD9' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.44105' y1='104.534' x2='48.925' y2='74.3473' stroke='%2342BDD9' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.44105' y1='128.635' x2='48.925' y2='98.4481' stroke='%2342BDD9' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.44105' y1='152.736' x2='48.925' y2='122.549' stroke='%2342BDD9' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .pp-container-2 {
    ul {
      display: grid;
      row-gap: 50px;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      margin-bottom: 30px;
    }

    h3 {
      margin-bottom: 10px;
    }

    @include media('>#{$media-768}') {
      ul {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 70px;
      }
    }
  }


}

body .page-cancer-de-pulmao {
  .session {

    &-1,
    &-2 {
      display: grid;
      justify-items: center;

      img {
        grid-row: 1/2;
        margin-bottom: 20px;
      }

      margin-bottom: 80px;

    }

    &-3 {
      position: relative;

      &::before {
        width: 60px;
        height: 60px;

        position: absolute;
        right: 50%;
        bottom: 50%;

        transform: translate(50%, 50%);

        content: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.5 36.625V63.375C37.5 65.2917 38.375 66.75 40.125 67.75C41.875 68.75 43.5833 68.6667 45.25 67.5L66 54.25C67.5833 53.25 68.375 51.8333 68.375 50C68.375 48.1667 67.5833 46.75 66 45.75L45.25 32.5C43.5833 31.3333 41.875 31.25 40.125 32.25C38.375 33.25 37.5 34.7083 37.5 36.625ZM50 100C43.0833 100 36.5833 98.6867 30.5 96.06C24.4167 93.4367 19.125 89.875 14.625 85.375C10.125 80.875 6.56333 75.5833 3.94 69.5C1.31333 63.4167 0 56.9167 0 50C0 43.0833 1.31333 36.5833 3.94 30.5C6.56333 24.4167 10.125 19.125 14.625 14.625C19.125 10.125 24.4167 6.56167 30.5 3.935C36.5833 1.31167 43.0833 0 50 0C56.9167 0 63.4167 1.31167 69.5 3.935C75.5833 6.56167 80.875 10.125 85.375 14.625C89.875 19.125 93.4367 24.4167 96.06 30.5C98.6867 36.5833 100 43.0833 100 50C100 56.9167 98.6867 63.4167 96.06 69.5C93.4367 75.5833 89.875 80.875 85.375 85.375C80.875 89.875 75.5833 93.4367 69.5 96.06C63.4167 98.6867 56.9167 100 50 100Z' fill='%2342BDD9'/%3E%3C/svg%3E");
      }
    }
  }

  h2 {
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    line-height: 36px;

    color: #18181B;
    margin-bottom: 15px;
  }

  p,
  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;

    text-align: justify;

    color: #777777;
  }

  img {
    border-radius: 20px;
  }

  ul {
    padding: 0;
  }


  @include media('>#{$media-992}') {

    .session-1,
    .session-2 {
      column-gap: 80px;

      img {
        margin: 0;
      }

      margin-bottom: 120px;

      h2 {
        text-align: left;
      }
    }

    .session-1 {
      grid-template-columns: 1fr max-content;

      img {
        grid-column: 2/3;
        justify-self: end;
      }
    }

    .session-2 {
      grid-template-columns: max-content 1fr;

      img {
        grid-column: 1/2;
        justify-self: start;

      }
    }
  }
}

body .pp-page-home-section-about-us {
  .pp-container-content {
    display: grid;
    justify-items: center;

    .pp-c-container-bg-secondary {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }

    .pp-container-image {
      margin-bottom: 50px;
    }

    h5 {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #18181B;

      text-align: center;
      margin-bottom: 0;
    }

    p {
      line-height: 34px;
    }

    @include media('>#{$media-992}') {
      grid-template-columns: 600px 1fr;
      gap: 0 10px;

      h5 {
        text-align: left;
        margin-bottom: 0;
      }
    }

    @include media('>#{$media-1100}') {
      column-gap: 20px;

    }

    @include media('>#{$media-1200}') {
      grid-template-columns: minmax(600px, 1fr) 1fr;
      column-gap: 50px;
    }
  }
}

.pp-modal-truck {
  header {
    .pp-section-title {
      flex: 1;
      justify-content: center;
    }

    h2 {
      font-weight: 700;
      color: #18181B;

      &,
      span {
        font-size: 25px;
        line-height: 25px;
      }

      @include media('>#{$media-992}') {

        &,
        span {
          font-size: 55px;
          line-height: 5px;
        }
      }


    }
  }

  thead th {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    color: #FFFFFF;

    @include media('>#{$media-992}') {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
    }
  }

  tbody {


    td,
    a {
      text-decoration: none;
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      color: #000000;



      @include media('>#{$media-992}') {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}

.pp-page-home-section-truck {
  background-color: #42BDD9;
  padding: 20px;

  img.pp-truck-image {
    margin-bottom: 30px;
  }

  a.btn {
    width: 100%;
  }


  .pp-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;

    > :last-child {
      grid-column: 1/3;
    }


    .pp-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;

      background-color: white;
      border-radius: 20px;

      img {
        margin-bottom: 10px;
      }

      p {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;

        text-align: center;
        color: #2A3334;
      }
    }
  }

  @include media('>#{$media-992}') {
    height: 338px;

    img.pp-truck-image {
      height: 492px;
      position: relative;
      left: 32px;
      bottom: 18px;
    }

    .pp-container-content {
      height: 100%;

      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100%;
    }

    .pp-right-side {

      .pp-cards {
        grid-template-columns: 1fr 1fr 1fr;

        > :last-child {
          grid-column: 3/4;
        }
      }
    }
  }

  @include media('>#{$media-1100}') {
    .pp-container-content {
      padding-right: 100px;
    }
  }
}

.pp-page-home-section-main-banner {

  .pp-container-banner,
  .pp-container-banner img {
    min-height: 200px;
    height: 100%;
  }

  .pp-container-texts {
    z-index: 10;

    height: max-content;
    max-height: 100%;
    width: 100%;
    max-width: 1210px;

    top: 50%;
    left: 50%;
    padding: 0 15px;

    transform: translate(-50%, -50%);

    @include media('>#{$media-576}') {
      >* {
        width: 70%;
      }
    }

    @include media('>#{$media-768}') {
      >* {
        width: 50%;
      }
    }

    @include media('>#{$media-992}') {
      padding: 0 30px;

      >* {
        width: 50%;
      }

    }

    @include media('>#{$media-1300}') {
      padding: 0;
    }

    h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: #2A3334;

      margin-bottom: 10px;

      @include media('>#{$media-400}') {
        font-size: 20px;
        line-height: 20px;
      }

      @include media('>#{$media-992}') {
        font-size: 56px;
        line-height: 70px;

        margin-bottom: 25px;
      }
    }

    p {
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
      color: #18181B;

      margin-bottom: 20px;

      @include media('>#{$media-400}') {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
      }

      @include media('>#{$media-992}') {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 80px;
      }
    }

    a.btn.pp-btn-banner {
      display: flex;
      align-items: center;
      justify-content: center;

      width: fit-content;

      font-size: 13px;
      line-height: 13px;
      font-weight: 500;
      color: #FFFFFF;
      padding: 10px 15px;


      background-color: rgba($color: #fff, $alpha: .3);

      border-radius: 20px;
      border: 1px solid white;

      transition: 150ms all;

      @include media('>#{$media-400}') {
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
      }

      &:hover {
        color: #18181B;
        background-color: rgba($color: #fff, $alpha: 1);

      }

      @include media('>#{$media-768}') {
        line-height: 16px;
        font-size: 16px;
        padding: 20px;
      }

      @include media('>#{$media-992}') {
        line-height: 18px;
        font-size: 18px;
        padding: 25px;

      }
    }
  }
}