.productOffer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
  background-color: #fff;
}

.productOffer:hover .productOfferBtn {
  transform: scale(1.05);
}

.productOfferName {
  font-size: 12px;
  line-height: 15px;
  color: #012e58;
  max-width: 175px;

  text-decoration: none;
}

.productOfferName:hover {
  text-decoration: underline;
  color: #000d19;
}

.productOfferPrices {
  display: flex;
  flex-direction: column;
  margin-right: 23px;
}

.listPrice {
  text-decoration: line-through;
  font-size: 11px;
  font-weight: 400;
  color: #96999c;
}

.price {
  color: #1da7e0;
  font-size: 13px;
  font-weight: bold;
}

.price :global(.friopecas-contador-ofertas-0-x-currencyContainer) {
  font-size: 20px;
}

.productOfferBtn {
  border: none;
  cursor: pointer;
  height: 32px;
  width: 100px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #1da7e0;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  transition: 0.3s ease-in-out;
}

.productOfferBtn:hover {
  background-color: #44b7e9;
}

.productOfferName {
  grid-area: nameOffer;
}

.listPrice {
  grid-area: listPriceOffer;
}

.price {
  grid-area: priceOffer;
}
