body div .container-master-app-buy-box .container-app-button {
  appearance: none;
  background: unset;
  padding: 0;
  font-family: $secondaryFont;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;

  cursor: pointer;
}