.container-inside-content {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;

  width: 200px;
  height: 200px;
  min-width: 400px;
  min-height: 100vh;

  .screen {
    height: 100%;
    width: 100%;

    overflow-y: scroll;
  }
}

.root-app {
  .container-inside-content {
    background-color: gray;

    padding: 20px;
  }

}