@mixin configureInputSize($size) {
  min-width: $size;
  min-height: $size;
}

body div .container-master-app-buy-box .container-app-input-text {
  label {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include configureInputSize(40px);

    @include mq('1026') {
      @include configureInputSize(50px);
    }


    &.active {
      border-color: #b3b3b3;
      z-index: 1;
    }

    &.disabled {

      span {
        opacity: .3;
      }

      cursor: not-allowed;
    }

    position: relative;

    input {
      cursor: pointer;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
    }

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #000000;
    }
  }
}
