.containerCouponPage * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    list-style: unset;
}

.containerCouponPage > h2 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    color: #3F4246;
    margin-bottom: 20px;
}

.containerCouponPage .couponPageTitle {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #3F4246;
    margin-bottom: 10px;
}

.containerCouponPage ul li + li {
    margin-top: 30px;
}


.containerCouponPage .containerCoupon {
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 100%;

}

.containerCouponPage .couponPageCodeContainer {
    position: relative;

    border: 1px solid #00326B;
    border-radius: 10px;

    padding-left: 20px;
    padding-right: 50px;

    height: 44px;

    margin-bottom: 5px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.containerCouponPage .couponPageCodeContainer::before {
    content: 'Copiar Cupom';
    transition: 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #0067C7;

    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #fff;
}

.containerCouponPage .couponPageCodeContainer:hover::before {
    opacity: 1;
    transform: translateY(-25px);
}

.containerCouponPage .couponPageCodeContainer .couponCode {
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    color: #3F4246;

    pointer-events: none;
}

.containerCouponPage .couponPageCodeContainer button {
    position: absolute;

    right: 20px;
    height: 18px;
    top: 50%;

    pointer-events: none;

    transform: translateY(-50%);

    appearance: unset;
    border: unset;
    background-color: unset;
}


.containerCouponPage .couponPageDescription {
    font-size: 15px;
    line-height: 15px;
    font-weight: 200;
    color: #3F4246;
}

.containerCouponPage ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 710px) {
    .containerCouponPage ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        align-items: baseline;
    }

    .containerCouponPage .containerCoupon {
        max-width: 320px;
    }

    .containerCouponPage ul > :nth-child(even) {
        justify-self: right;
    }

    .containerCouponPage ul > :nth-child(odd) {
        justify-self: left;
    }

    .containerCouponPage ul li + li {
        margin-top: 0;
    }

    body div .containerCouponPage ul li:nth-child(n + 3) {
        margin-top: 30px;
    }


}


@media only screen and (min-width: 1024px) {
    .containerCouponPage > h2 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 75px;
    }

    .containerCouponPage .couponPageTitle {
        font-size: 20px;
        line-height: 20px;
    }


}

@media only screen and (min-width: 1050px) {
    .containerCouponPage ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    body div .containerCouponPage ul > :nth-child(even) {
        justify-self: unset;
    }

    body div .containerCouponPage ul > :nth-child(odd) {
        justify-self: unset;
    }

    body div .containerCouponPage ul li:nth-child(3n) {
        justify-self: flex-end !important;
    }

    body div .containerCouponPage ul li:nth-child(3n + 1) {
        justify-self: left;
    }

    body div .containerCouponPage ul li:nth-child(n + 3) {
        margin-top: unset;
    }

    body div .containerCouponPage ul li:nth-child(n + 4) {
        margin-top: 30px;
    }
}

