@import './imports.scss';

body .page-projetos {
  ul:not(.list-social-links) {
    padding: 0;
    display: flex;
    flex-direction: column;

    row-gap: 70px;

    li:not(.list-social-links li) {
      row-gap: 30px;
      display: flex;
      flex-direction: column-reverse;

      min-height: 380px;

      .container-image {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container-content {
        display: flex;
        flex-direction: column;
      }

      @include media('>#{$media-992}') {
        display: grid;
        grid-template-columns: 1fr 462px;
        column-gap: 50px;


        &.revert {
          grid-template-columns: 462px 1fr;

          .container-image {
            grid-column: 1/2;
            grid-row: 1/2;
          }
        }
      }
    }
  }

  .modal {
    @include media('>#{$media-1300}') {
      .modal-dialog.modal-dialog-centered {
        width: 100%;
      }
    }

    img.content-right {
      margin-bottom: 30px;
    }

    footer {
      .modal-container-logos-footer {
        column-gap: 20px;
      }

      hr {
        padding: 25px 0;
        margin: 0;
      }

      ul.list-social-links {
        column-gap: 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #18181B;
        margin-bottom: 15px;
      }
    }

    @include media('>#{$media-992}') {
      img.content-right {
        margin-bottom: 0;
      }
    }
  }
}