body div .container-master-app-buy-box .container-app-old-price {

  display: flex;
  align-items: center;

  * {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: $light-gray-01;
    text-decoration: line-through;
  }
}