%default {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;


  }
}

%variants {
  &.primary {
    input[type="radio"]+* {
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;

      position: relative;

      background-color: transparent;

      border: 1px solid white;

      svg *[fill*="#"] {
        fill: #fff;
      }

      width: 66px;
      height: 66px;

      border-radius: 20px;

    }

    input[type="radio"]:checked+* {
      background-color: white;

      svg *[fill*="#"] {
        fill: #00326B;
      }
    }
  }
}


.containerInputRadio {
  @extend %default;
  @extend %variants;

}
