@media (max-width: 1024px) {
  .containerShoppingGuideContainerSearch [data-content-desktop=true] {
    display: none !important;
  }
  .containerShoppingGuideContainerSearch [data-content-mobile=true][data-content-slider=true] {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (min-width: 1024px) {
  .containerShoppingGuideContainerSearch [data-content-mobile=true] {
    display: none !important;
  }
}
.containerShoppingGuideContainerSearch, .containerShoppingGuideContainerSearch * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 0;
}
.containerShoppingGuideContainerSearch p,
.containerShoppingGuideContainerSearch a,
.containerShoppingGuideContainerSearch span,
.containerShoppingGuideContainerSearch h1,
.containerShoppingGuideContainerSearch h2,
.containerShoppingGuideContainerSearch h3,
.containerShoppingGuideContainerSearch h4,
.containerShoppingGuideContainerSearch h5,
.containerShoppingGuideContainerSearch h6,
.containerShoppingGuideContainerSearch ul,
.containerShoppingGuideContainerSearch li,
.containerShoppingGuideContainerSearch ol,
.containerShoppingGuideContainerSearch svg *,
.containerShoppingGuideContainerSearch div,
.containerShoppingGuideContainerSearch svg,
.containerShoppingGuideContainerSearch figure,
.containerShoppingGuideContainerSearch label,
.containerShoppingGuideContainerSearch button {
  font-family: "Neris";
  -webkit-transition: 400ms all;
  transition: 400ms all;
}
.containerShoppingGuideContainerSearch a {
  text-decoration: none;
}
.containerShoppingGuideContainerSearch li {
  list-style: none;
}

body .containerShoppingGuideContainerSearch {
  max-width: 1255px;
  margin-left: auto;
  margin-right: auto;
}
body .containerShoppingGuideContainerSearch .hiddenElement {
  display: none;
  visibility: hidden;
}
body .containerShoppingGuideContainerSearch .containerContent {
  max-width: 955px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 1024px) {
  body .containerShoppingGuideContainerSearch .containerBottom {
    min-height: 360px;
    position: relative;
  }
}
body .containerShoppingGuideContainerSearch .invisibleContainerShoppingGuide {
  padding-bottom: 65px;
}
@media screen and (min-width: 1024px) {
  body .containerShoppingGuideContainerSearch .invisibleContainerShoppingGuide {
    padding-bottom: 75px;
  }
}
body .containerShoppingGuideContainerSearch .error {
  font-weight: 800;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .containerShoppingGuideContainerSearch .button-back {
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  body .containerShoppingGuideContainerSearch .button-back {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1024px) {
  body .containerShoppingGuideContainerSearch .button-next {
    position: absolute;
    right: 0;
    bottom: -60px;
  }
}
@media screen and (min-width: 1024px) {
  body .containerShoppingGuideContainerSearch .containerSides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
}