%reset {
  @media (max-width: 1024px) {
    [data-content-desktop="true"] {
      display: none !important;
    }

    [data-content-mobile=true][data-content-slider=true] {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  @media (min-width: 1024px) {
    [data-content-mobile="true"] {
      display: none !important;

    }
  }

  &,
  & * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
  }

  p,
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  ol,
  svg *,
  div,
  svg,
  figure,
  label,
  button {
    font-family: 'Neris';
    transition: 400ms all;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

%default {
  .hiddenElement {
    display: none;
    visibility: hidden;
  }

  .containerContent {
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }


  max-width: 1255px;
  margin-left: auto;
  margin-right: auto;

  .containerBottom {
    @media screen and (min-width: 1024px) {
      min-height: 360px;
      position: relative;
    }
  }

  .invisibleContainerShoppingGuide {
    padding-bottom: 65px;

    @media screen and (min-width: 1024px) {
      padding-bottom: 75px;
    }
  }

  .error {
    font-weight: 800;
    color: white;

    display: flex;
    justify-content: center;
  }

  .button-back {
    margin-bottom: 25px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 35px
    }

  }

  .button-next {
    @media screen and (min-width: 1024px) {

      position: absolute;

      right: 0;
      bottom: -60px;
    }
  }

  .containerSides {
    @media screen and (min-width: 1024px) {

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 100px;
    }
  }
}

.containerShoppingGuideContainerSearch {
  @extend %reset;
}

body {
  .containerShoppingGuideContainerSearch {
    @extend %default;
  }
}
