.box {
    align-items: flex-start;
    display: flex;
    padding: 16px 0;
}

.box_image {
    background-color: transparent;
    border-radius: 4px;
    height: 64px;
    margin-right: 8px;
    width: 64px;
}

.box_image img {
    border-radius: 4px;
}

.kit_name {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 0 4px 0;
    text-align: left;
}

.kit_value {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin: 0;
    text-align: left;
}
