/* QUARTO TEMA <theme5> ESTILO AMPM */
.theme5 {
  .mobile {
    &-container,
    &-overlay,
    &-menuArrowIcon {
      transition: 0.3s;
    }

    &-menuContainer,
    &-subItems {
      padding: 0 4vw;
    }

    &-hamburguer,
    &-closeButton {
      @include display-flex(flex-start, flex, flex-start, row);
      background: none;
      padding: 0;
      margin: 0;
      border: 0;
    }

    &-container {
      @include size(85%, 100%);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: $white;
      max-width: 400px;
      min-width: 280px;
      pointer-events: none;
      transform: translate3d(-100%, 0px, 0px);
      @include mq('767', max) {
        width: 100%;
      }
    }

    &-content {
      @include display-flex(inherit, flex, inherit, column);
      overflow-y: auto;
      height: 100%;
    }

    &-container--Opened {
      pointer-events: initial;
      transform: translate3d(0%, 0px, 0px);
    }

    &-overlay {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      background-color: $blue;
      pointer-events: none;
      opacity: 0;
    }

    &-overlay--Opened {
      pointer-events: initial;
      opacity: 1;
    }

    &-headerContainer {
      height: fit-content;
      padding-top: 57px;
    }

    &-titleContainer {
      @include abs-position(0, auto, auto, 0);
      @include display-flex(center, flex, space-between, row);
      width: 100%;
      padding: 12px 4vw 10px;
      background-color: $white;
      z-index: 1;
    }

    &-closeButtonImage {
      max-width: 15px;
    }

    &-titleContent {
      min-height: 24px;
      order: 2;
    }

    &-buttonsContainer {
      @include display-flex(center, flex, flex-start, row);
    }

    &-logoutButton {
      @include textConfig($black, 12, $fontSemiBold, 13, left, initial, 50);
      order: 2;
      padding-left: 15px;
    }

    &-title {
      @include textConfig($black, 12, $fontSemiBold, 13, left, initial, 50);
    }

    &-itemsContainer {
      @include display-flex(inherit, flex, flex-start, column);
      overflow: hidden;
      padding: 1vh 0;
    }

    &-itemsContent,
    &-subItemsContent {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &-item .mobile-itemLink {
      background-color: $dark-gray-01;
      border-bottom: 1px solid $light-gray-03;
    }

    &-subItem {
      @include textConfig($black, 12, $fontRegular, 13, left, initial, 50);
      @include display-flex(center, flex, flex-start, row);
      padding: 2vh 0;
      text-decoration: none;
    }

    &-itemLink {
      padding: 14px 4vw;
      @include display-flex(center, flex, space-between, row);
      text-decoration: none;
      color: $white;
    }

    &-itemTextContent {
      @include display-flex(center, flex, flex-start, row);
    }

    &-itemIcon {
      @include display-flex(center, flex, flex-start, row);
      padding-right: 15px;
      max-width: 15px;
    }

    &-itemText {
      @include textConfig($black, 12, $fontSemiBold, 13, left, uppercase, 50);
      @include display-flex(flex-start, flex, flex-start, row);
      border: none;
    }

    &-menuItemLink,
    &-menuSecondItemLink {
      position: relative;
      text-decoration: none;
      display: block;
    }

    &-menuArrowIcon {
      max-width: 12px;
      height: auto;
    }

    &-menuItemsTitle,
    &-menuBackButton,
    &-menuSeeAllButton {
      display: none;
    }

    &-menuItems,
    &-menuSecondItems,
    &-menuThirdItems {
      padding: 0;
      margin: 0;
    }

    &-menuItems {
      height: 100%;
      max-height: 65vh;
      margin-top: 1vh;
    }

    &-menuItems {
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $white;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $light-gray-01;
        border-radius: 20px;
        border: 2px solid $white;
      }
    }

    &-menuItem,
    &-menuSecondItem,
    &-menuThirdItem {
      list-style: none;
    }

    &-menuItemLink {
      @include textConfig($black, 11, $fontSemiBold, 13, left, uppercase, 50);
      padding: 10px 0;
    }

    &-menuItemLinkText {
      @include display-flex(center, flex, flex-start, row);
    }

    &-menuIcon {
      padding-right: 10px;
    }

    &-menuIconContent {
      @include display-flex(flex-end, flex, flex-start, row);
      height: 20px;
      text-align: center;
    }

    &-menuIcon {
      @include size(100%, inherit);
    }

    &-menuSecondItems {
      .mobile-menuSecondItemLinkText,
      .mobile-menuThirdItemLinkText {
        @include display-flex(center, flex, flex-start, row);
      }
    }

    &-menuSecondItemLink {
      @include textConfig($black, 11, $fontSemiBold, 13, left, uppercase, 50);
      padding: 10px 0;
      margin: 0 8px;
    }

    &-menuThirdItemLink {
      @include textConfig($black, 11, $fontRegular 13, left, uppercase, 50);
      display: block;
      padding: 10px 0;
      margin: 0 16px;
    }

    &-menuSecondItemsWrapper,
    &-menuThirdItemsWrapper,
    &-subItems {
      pointer-events: none;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.2s;
      overflow: hidden;
      height: 0;
    }

    &-menuItem--Opened .mobile-menuSecondItemsWrapper,
    &-menuSecondItem--Opened .mobile-menuThirdItemsWrapper,
    &-item--Opened .mobile-subItems {
      pointer-events: auto;
      transform: scaleY(1);
      height: 100%;
      transition: 0.3s;
    }

    &-menuItemLink,
    &-menuSecondItemLink {
      @include display-flex(center, flex, space-between, row);
    }

    &-menuItem--Opened,
    &-menuSecondItem--Opened,
    &-item--Opened {
      .mobile-menuItemLink,
      .mobile-menuSecondItemLink,
      .mobile-itemLink {
        .mobile-menuArrowIcon {
          transform: rotate(-180deg);
        }
      }
    }

    &-item .mobile-itemLink {
      .mobile-menuArrowIconContent {
        @include display-flex(flex-start, flex, flex-start, row);
      }

      .mobile-menuArrowIcon {
        fill: $white;
        max-width: 9px;
      }
    }

    &-footerContainer {
      display: none;
    }
  }
}

/* FIM DO QUARTO TEMA </theme5> */
