%default {
  margin-top: 5px;
  text-align: center;

  &>span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    color: #F7F9FF;

  }
}

body {
  .containerFigCaption {
    @extend %default;
  }

}
