body {
  padding: 0;
  background-color: $gray09;

  &.body-cart {
    padding: 0;
  }
}

#orderform-title {
  @include mq("980") {
    margin-left: 0;
  }

  @include textConfig($dark-gray01, $primaryFont, 20, $fontSemiBold, 15, left, initial, 10);
  margin: 40px 20px 15px;
}

.container-main {
  min-height: 783px;
}

/* --------------------------------------------------------------PAYMENT BODY*/

.row-fluid.orderform-template {
  @include mq("980") {
    padding: 0;
  }

  @include mq("1024") {
    display: flex;

    .orderform-template-holder {
      @include size(60%, auto);
    }

    .cart-template.mini-cart {
      @include size(40%, auto);
    }

  }

  @include mq("1310") {
    padding: 0;
  }

  padding: 0 20px;
}

.icon-lock {
  @include mq("480") {
    display: block;
  }
}

#shipping-data .vtex-omnishipping-1-x-shippingDataDev {
  background-color: transparent;
  opacity: 1;
}

#shipping-data .shp-summary-group-info,
.shp-summary-group-price {
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  letter-spacing: 0.6px;
}

.accordion-toggle .link-box-edit {
  border: none;
  background: none;
  box-shadow: none;
}

.accordion-toggle .link-box-edit .icon-edit {
  font-size: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg id='noun_edit_3793061' xmlns='http://www.w3.org/2000/svg' width='20.226' height='19.72' viewBox='0 0 20.226 19.72'%3E%3Cg id='Grupo_7435' data-name='Grupo 7435'%3E%3Cpath id='Caminho_461' data-name='Caminho 461' d='M27.515 963.365a1.279 1.279 0 0 0-.909.371l-8.738 8.737-.016.016a1.4 1.4 0 0 0-.34.553 5.284 5.284 0 0 0-.261.814 5.44 5.44 0 0 0-.111 2.172.52.52 0 0 0 .411.419 5.442 5.442 0 0 0 2.173-.111 5.356 5.356 0 0 0 .822-.269 1.385 1.385 0 0 0 .553-.332l.016-.016 8.738-8.737a1.5 1.5 0 0 0-.134-2.1l-1.011-1.011a1.733 1.733 0 0 0-1.051-.506 1.348 1.348 0 0 0-.142 0Zm0 1.011a.48.48 0 0 1 .087 0 .667.667 0 0 1 .387.205c.341.34.671.679 1.011 1.019.263.263.246.552.134.664l-.679.679-1.817-1.817.679-.679a.306.306 0 0 1 .2-.071Zm-1.588 1.469 1.809 1.809-7.355 7.355a1.9 1.9 0 0 1-.229.126 4.453 4.453 0 0 1-.664.213 4.906 4.906 0 0 1-1.367.111 4.965 4.965 0 0 1 .111-1.367 4.31 4.31 0 0 1 .213-.656c.053-.124.125-.223.126-.237ZM12.275 966.9A2.282 2.282 0 0 0 10 969.179v11.629a2.282 2.282 0 0 0 2.275 2.275H23.9a2.282 2.282 0 0 0 2.275-2.275v-7.837a.506.506 0 1 0-1.011 0v7.837a1.25 1.25 0 0 1-1.264 1.264H12.275a1.25 1.25 0 0 1-1.264-1.264V969.179a1.25 1.25 0 0 1 1.264-1.264h8.848a.506.506 0 1 0 0-1.011Z' transform='translate(-10 -963.363)'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

.shipping-summary-info {
  margin-left: 30px;
}

.btn-place-order-wrapper .btn {
  float: none;
}

.full-cart .summary-totalizers {
  width: 100%;
}

body .item-quantity-change {
  padding: 0;
}

body .full-cart .cart table tbody tr+tr {
  border-top: none;
}

body .full-cart .summary-totalizers .info {
  width: inherit;
}

.link-choose-more-products-wrapper {
  text-align: center;
  display: block;
  order: 1;
  padding-bottom: 10px;
}

.btn-place-order-wrapper {
  order: 0;
}

.row-fluid .summary-totalizers {
  width: 90%;
}

.mini-cart .item {
  border: none;
}

.product-name {
  color: #000;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.55px;
}

.lookatme {
  background: transparent;
}

.item-unavailable,
.top-arrow {
  background: transparent;
}

.item-unavailable .top-arrow {
  border-bottom-color: transparent;
}

.payment-confirmation-wrap {
  display: block;
}

#cart-note {
  min-height: 45px;
  min-width: 205px;
  padding: 0;
}

.accordion-body .accordion-inner .summary-discount-descriptions .table {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}


/* DESKTOP*/

.table .totalizers-list .Discounts {
  display: flex;
  margin: 0 10px;
}

.totalizers-list .Discounts .info {
  width: 50%;
  display: flex;
  margin-left: 10px;
  padding-left: 0;
}

.totalizers-list .Discounts .monetary {
  width: 50%;
  display: flex;
  margin-right: 10px;
  padding-right: 0;
  justify-content: flex-end;
}

.srp-shipping-current-single {
  max-width: 328px;
}

.add-service-container,
.ChangeNumberOfPayments {
  display: none;
}

.srp-delivery-info .srp-delivery-select-container {
  max-width: 328px;
}

.container-cart,
.container-order-form {
  background-color: $gray09;
}

@media (min-width: 1025px) {
  .table .totalizers-list .Discounts {
    width: 255px;
    display: flex;
    margin: 0;
  }

  .container-cart,
  .container-order-form {
    @include mq("1310") {
      width: 1260px;
    }

    margin: 30px auto;
    margin-bottom: 0;
  }

  .checkout-container {
    margin-bottom: 22px;
  }

  /*SHIPING SIMULATOR*/
  .header-checkout .container .header-checkout-safebuy .header-checkout-safebuy__text {
    font-size: 16px;
  }

  .product-name a {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #262626;
    margin: 0;
  }

  small.seller.muted {
    display: block;
  }

  .old-product-price {
    font-size: 13px;
    font-weight: 700;
    color: #262626;
  }

  .full-cart .cart table tbody tr td.item-remove {
    padding: 0 0px 20px 20px;
  }

  .btn-place-order-wrapper .btn {
    float: right;
  }

  .link-choose-more-products-wrapper {
    order: 0;
  }

  .row-fluid [class*="span"].pull-right,
  .row-fluid [class*="span"].pull-right {
    float: right;
    margin: 0;
  }

  footer .footer-entrega {
    margin: 0;
  }
}