#payment-data {




  .step {
    border-radius: 2px;
    border: 0;
    padding: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);

    .accordion {
      &-heading {
        background-color: $light-yellow;
        padding: 20px;

        .accordion-toggle {
          @include textConfig($brown01, $secondaryFont, 14, $fontSemiBold, 15, left, initial, 10);

          &-active {
            span {
              @include textConfig($brown01, $secondaryFont, 14, $fontSemiBold, 15, left, initial, 10);
            }
          }

          .icon-credit-card {
            display: none;
          }
        }

        .link-box-edit {
          padding: 0;

          .icon-edit {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='note-pencil' transform='translate(0 0)'%3E%3Crect id='Retângulo_6229' data-name='Retângulo 6229' width='24' height='24' transform='translate(0 0)' fill='none'/%3E%3Cpath id='União_457' data-name='União 457' d='M1.44,18A1.442,1.442,0,0,1,0,16.56V2.16A1.442,1.442,0,0,1,1.44.72H9.36a.72.72,0,0,1,0,1.44H1.44v14.4h14.4V8.64a.72.72,0,1,1,1.44,0v7.92A1.442,1.442,0,0,1,15.84,18Zm4.32-5.04a.72.72,0,0,1-.72-.72V9.36a.72.72,0,0,1,.211-.509l8.64-8.64a.72.72,0,0,1,1.018,0l2.88,2.88a.72.72,0,0,1,0,1.018l-2.16,2.16-6.48,6.48a.72.72,0,0,1-.509.211Zm.72-3.3V11.52H8.342L14.1,5.76,12.24,3.9Zm8.64-4.916L16.262,3.6,14.4,1.738,13.258,2.88Z' transform='translate(3 3)' fill='%23cca37a'/%3E%3C/g%3E%3C/svg%3E%0A") center no-repeat;
          }
        }
      }

      &-inner {
        .notification {
          @include textConfig($dark-gray01, $secondaryFont, 14, $fontRegular, auto, left, initial, 0);
          margin-left: 20px;
        }

        #show-gift-card-group,
        .payment-group-item-text {
          @include textConfig($dark-gray01, $secondaryFont, 12, $fontRegular, auto, left, initial, 0);

        }

        .SecurityEnvironmentIcon {
          @include textConfig($black, $secondaryFont, 13, $fontBold, auto, center, uppercase, 0);
          margin-bottom: 10px;
          padding: 5px 8px
        }

        .form-step {
          .link-gift-card {
            @include textConfig($dark-gray01, $secondaryFont, 12, $fontRegular, auto, left, initial, 0);
            left: inherit;
            padding: 0 8px;
          }

          &.gift-card-section {
            @include mq("768") {
              margin-left: 0;
            }
          }

          @include mq("768") {
            display: grid;

            .link-gift-card {
              position: inherit;
              grid-row-start: 1;
            }

            .payment-group {
              grid-row-start: 2;
              margin-top: 0;

              &-list-btn {
                width: 92%;
              }

              &-item {
                margin-left: 0;
                padding: 0 16px 0 8px;
              }
            }

            .steps-view {
              width: auto;
              grid-row-start: 2;
            }
          }
        }
      }
    }
  }
}