#shipping-data {



  .step {
    background-color: $white;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    padding: 0;

    .accordion {
      &-heading {
        background-color: $light-yellow;
        padding: 20px;

        .accordion-toggle {
          @include textConfig($brown01, $secondaryFont, 14, $fontSemiBold, 15, left, initial, 10);

          &-active {
            span {
              @include textConfig($brown01, $secondaryFont, 14, $fontSemiBold, 15, left, initial, 10);
            }
          }

          .icon-home {
            display: none;
          }
        }

        .link-box-edit {
          padding: 0;

          .icon-edit {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='note-pencil' transform='translate(0 0)'%3E%3Crect id='Retângulo_6229' data-name='Retângulo 6229' width='24' height='24' transform='translate(0 0)' fill='none'/%3E%3Cpath id='União_457' data-name='União 457' d='M1.44,18A1.442,1.442,0,0,1,0,16.56V2.16A1.442,1.442,0,0,1,1.44.72H9.36a.72.72,0,0,1,0,1.44H1.44v14.4h14.4V8.64a.72.72,0,1,1,1.44,0v7.92A1.442,1.442,0,0,1,15.84,18Zm4.32-5.04a.72.72,0,0,1-.72-.72V9.36a.72.72,0,0,1,.211-.509l8.64-8.64a.72.72,0,0,1,1.018,0l2.88,2.88a.72.72,0,0,1,0,1.018l-2.16,2.16-6.48,6.48a.72.72,0,0,1-.509.211Zm.72-3.3V11.52H8.342L14.1,5.76,12.24,3.9Zm8.64-4.916L16.262,3.6,14.4,1.738,13.258,2.88Z' transform='translate(3 3)' fill='%23cca37a'/%3E%3C/g%3E%3C/svg%3E%0A") center no-repeat;
          }
        }
      }

      &-inner {


        .shipping-summary-info {
          @include textConfig($dark-gray01, $secondaryFont, 14, $fontRegular, auto, left, initial, 0);
          margin-left: 0;
        }

        .box {
          &-step {
            .vtex-omnishipping-1-x- {
              &deliveryGroup {
                svg {
                  path {
                    fill: $color-primary;
                  }
                }
              }

              &summaryChange {
                display: none;
              }

              &delivery {
                &ChannelsOption {
                  @include display-flex(center, center, row);
                  height: 42px;
                  padding: 0;

                  .shp-method-option-text {
                    @include textConfig($dark-gray02, $secondaryFont, 14, $fontMedium, 15, left, initial, 0);
                  }

                  &#shipping-option-delivery {
                    &::before {
                      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.764' height='15.935' viewBox='0 0 22.764 15.935'%3E%3Cpath id='Caminho_22165' data-name='Caminho 22165' d='M52.349,22.976A2.283,2.283,0,0,0,50.073,20.7H47.8a1.138,1.138,0,0,0,0,2.276h2.276v3.016l-3.961,4.951H42.105V26.391a1.142,1.142,0,0,0-1.138-1.138H37.553A4.551,4.551,0,0,0,33,29.805v2.276a1.142,1.142,0,0,0,1.138,1.138h1.138a3.415,3.415,0,0,0,6.829,0h4.006a2.284,2.284,0,0,0,1.776-.854l3.961-4.951a2.26,2.26,0,0,0,.5-1.423ZM38.691,34.358a1.142,1.142,0,0,1-1.138-1.138h2.276A1.142,1.142,0,0,1,38.691,34.358Zm-1.138-12.52h3.415a1.138,1.138,0,0,1,0,2.276H37.553a1.138,1.138,0,0,1,0-2.276ZM48.935,33.22a3.415,3.415,0,1,1,3.415,3.415A3.41,3.41,0,0,1,48.935,33.22Zm2.276,0a1.138,1.138,0,1,0,1.138-1.138A1.142,1.142,0,0,0,51.211,33.22ZM35.276,30.311v-.506a2.283,2.283,0,0,1,2.276-2.276H39.2a.632.632,0,0,1,.632.632v2.15a.632.632,0,0,1-.632.632H35.909A.632.632,0,0,1,35.276,30.311Z' transform='translate(-33 -20.7)' fill='%239e9e9e' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
                      height: 15px;
                      margin-right: 10px;
                    }

                    .shp-method-option-text {
                      font-size: 0;
                      line-height: 0;

                      &::after {
                        @include textConfig($dark-gray02, $secondaryFont, 14, $fontMedium, 15, left, initial, 0);
                        content: "Entrega";
                      }
                    }

                    &.shp-method-option-active {
                      &::before {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.764' height='15.935' viewBox='0 0 22.764 15.935'%3E%3Cpath id='Caminho_22165' data-name='Caminho 22165' d='M52.349,22.976A2.283,2.283,0,0,0,50.073,20.7H47.8a1.138,1.138,0,0,0,0,2.276h2.276v3.016l-3.961,4.951H42.105V26.391a1.142,1.142,0,0,0-1.138-1.138H37.553A4.551,4.551,0,0,0,33,29.805v2.276a1.142,1.142,0,0,0,1.138,1.138h1.138a3.415,3.415,0,0,0,6.829,0h4.006a2.284,2.284,0,0,0,1.776-.854l3.961-4.951a2.26,2.26,0,0,0,.5-1.423ZM38.691,34.358a1.142,1.142,0,0,1-1.138-1.138h2.276A1.142,1.142,0,0,1,38.691,34.358Zm-1.138-12.52h3.415a1.138,1.138,0,0,1,0,2.276H37.553a1.138,1.138,0,0,1,0-2.276ZM48.935,33.22a3.415,3.415,0,1,1,3.415,3.415A3.41,3.41,0,0,1,48.935,33.22Zm2.276,0a1.138,1.138,0,1,0,1.138-1.138A1.142,1.142,0,0,0,51.211,33.22ZM35.276,30.311v-.506a2.283,2.283,0,0,1,2.276-2.276H39.2a.632.632,0,0,1,.632.632v2.15a.632.632,0,0,1-.632.632H35.909A.632.632,0,0,1,35.276,30.311Z' transform='translate(-33 -20.7)' fill='%23926836' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
                        height: 15px;
                        margin-right: 10px;
                      }
                    }
                  }

                  &#shipping-option-pickup-in-point {
                    &::before {
                      content: url("data:image/svg+xml,%3Csvg id='Grupo_21822' data-name='Grupo 21822' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19.501' height='19.502' viewBox='0 0 19.501 19.502'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_5855' data-name='Retângulo 5855' width='19.501' height='19.502' fill='%239e9e9e'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_19534' data-name='Grupo 19534' clip-path='url(%23clip-path)'%3E%3Cpath id='União_699' data-name='União 699' d='M2.53,17.409A1.664,1.664,0,0,1,.819,15.688V13.48c0-1.7,0-3.456,0-5.187A.219.219,0,0,0,.785,8.2,4.737,4.737,0,0,1,.132,6.869C.1,6.752.072,6.633.045,6.521c-.01-.05-.022-.1-.035-.149L0,6.331v-.77L.027,5.45c.013-.055.024-.11.04-.164.092-.372.184-.745.276-1.116.236-.951.48-1.935.729-2.9A1.623,1.623,0,0,1,2.288.052a.025.025,0,0,1,.008,0L2.376,0H15.1l.055.062a1.711,1.711,0,0,1,1.215,1.345c.267,1.1.548,2.222.837,3.322a4.14,4.14,0,0,1,.13,1.979A3.718,3.718,0,0,1,16.6,8.254c0,.991,0,5.734,0,7.447a1.674,1.674,0,0,1-1.706,1.711Q8.71,17.412,2.53,17.409ZM10.6,10.458a.955.955,0,0,1,1.037,1.04v4.074h3.073q0-.773,0-1.547V9.449a3.451,3.451,0,0,1-.842.1,3.514,3.514,0,0,1-2.184-.77,5,5,0,0,1-.4-.354A3.479,3.479,0,0,1,8.725,9.554,3.441,3.441,0,0,1,6.161,8.426,3.493,3.493,0,0,1,2.7,9.441c0,2.01,0,4.086,0,6.131h1.24q.918,0,1.838,0V11.479a.948.948,0,0,1,1.025-1.021q.946,0,1.894,0T10.6,10.458Zm-2.919,5.1H9.73V12.354H7.677ZM12.2,1.989c0,1.3,0,2.646,0,3.969a2.217,2.217,0,0,0,.025.334,1.708,1.708,0,0,0,1.639,1.4,1.31,1.31,0,0,0,.283-.03,1.745,1.745,0,0,0,1.148-.776,1.639,1.639,0,0,0,.214-1.28c-.164-.673-.339-1.354-.506-2.015-.145-.575-.3-1.17-.44-1.758-.445,0-.879,0-1.207,0H12.2ZM7.129,2.5c0,1.146,0,2.328,0,3.49a1.962,1.962,0,0,0,.058.438A1.6,1.6,0,0,0,8.745,7.688,1.537,1.537,0,0,0,9.1,7.646a1.673,1.673,0,0,0,1.248-1.588c0-1.076,0-2.172,0-3.229V1.847H7.129ZM2.844,1.842c-.075.3-.149.6-.227.9-.2.8-.411,1.639-.62,2.455a2.559,2.559,0,0,0-.1,1.128A1.707,1.707,0,0,0,3.563,7.688a1.646,1.646,0,0,0,.866-.249,1.654,1.654,0,0,0,.819-1.506c0-1.028,0-2.077,0-3.088V1.84H2.844Z' transform='translate(1.043 1.046)' fill='%239e9e9e'/%3E%3C/g%3E%3C/svg%3E%0A");
                      height: 23px;
                      margin-right: 10px;
                    }

                    &.shp-method-option-active {
                      &::before {
                        content: url("data:image/svg+xml,%3Csvg id='Grupo_21822' data-name='Grupo 21822' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19.501' height='19.502' viewBox='0 0 19.501 19.502'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_5855' data-name='Retângulo 5855' width='19.501' height='19.502' fill='%23926836'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_19534' data-name='Grupo 19534' clip-path='url(%23clip-path)'%3E%3Cpath id='União_699' data-name='União 699' d='M2.53,17.409A1.664,1.664,0,0,1,.819,15.688V13.48c0-1.7,0-3.456,0-5.187A.219.219,0,0,0,.785,8.2,4.737,4.737,0,0,1,.132,6.869C.1,6.752.072,6.633.045,6.521c-.01-.05-.022-.1-.035-.149L0,6.331v-.77L.027,5.45c.013-.055.024-.11.04-.164.092-.372.184-.745.276-1.116.236-.951.48-1.935.729-2.9A1.623,1.623,0,0,1,2.288.052a.025.025,0,0,1,.008,0L2.376,0H15.1l.055.062a1.711,1.711,0,0,1,1.215,1.345c.267,1.1.548,2.222.837,3.322a4.14,4.14,0,0,1,.13,1.979A3.718,3.718,0,0,1,16.6,8.254c0,.991,0,5.734,0,7.447a1.674,1.674,0,0,1-1.706,1.711Q8.71,17.412,2.53,17.409ZM10.6,10.458a.955.955,0,0,1,1.037,1.04v4.074h3.073q0-.773,0-1.547V9.449a3.451,3.451,0,0,1-.842.1,3.514,3.514,0,0,1-2.184-.77,5,5,0,0,1-.4-.354A3.479,3.479,0,0,1,8.725,9.554,3.441,3.441,0,0,1,6.161,8.426,3.493,3.493,0,0,1,2.7,9.441c0,2.01,0,4.086,0,6.131h1.24q.918,0,1.838,0V11.479a.948.948,0,0,1,1.025-1.021q.946,0,1.894,0T10.6,10.458Zm-2.919,5.1H9.73V12.354H7.677ZM12.2,1.989c0,1.3,0,2.646,0,3.969a2.217,2.217,0,0,0,.025.334,1.708,1.708,0,0,0,1.639,1.4,1.31,1.31,0,0,0,.283-.03,1.745,1.745,0,0,0,1.148-.776,1.639,1.639,0,0,0,.214-1.28c-.164-.673-.339-1.354-.506-2.015-.145-.575-.3-1.17-.44-1.758-.445,0-.879,0-1.207,0H12.2ZM7.129,2.5c0,1.146,0,2.328,0,3.49a1.962,1.962,0,0,0,.058.438A1.6,1.6,0,0,0,8.745,7.688,1.537,1.537,0,0,0,9.1,7.646a1.673,1.673,0,0,0,1.248-1.588c0-1.076,0-2.172,0-3.229V1.847H7.129ZM2.844,1.842c-.075.3-.149.6-.227.9-.2.8-.411,1.639-.62,2.455a2.559,2.559,0,0,0-.1,1.128A1.707,1.707,0,0,0,3.563,7.688a1.646,1.646,0,0,0,.866-.249,1.654,1.654,0,0,0,.819-1.506c0-1.028,0-2.077,0-3.088V1.84H2.844Z' transform='translate(1.043 1.046)' fill='%23926836'/%3E%3C/g%3E%3C/svg%3E%0A");
                        height: 23px;
                        margin-right: 10px;
                      }
                    }
                  }
                }

                &ChannelsWrapper {
                  background-color: $gray23;
                  border-radius: 0;
                  border: 1px solid $gray23;
                  box-shadow: none;
                  margin: 13px auto 24px auto;
                }

                &ChannelsToggle {
                  background-color: $white;
                  border-color: white;
                  border-radius: 0;
                  box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
                  height: 42px;

                  &.shipping-method-toggle-delivery {
                    left: -1px
                  }
                }
              }

              &cta {
                >button {
                  @include size(100%, 44px);
                  @include textConfig($gray09, $secondaryFont, 14, $fontMedium, 16, center, initial, 50);
                  background: $brown;
                  border-radius: 2px;
                  border: 0;
                }
              }

              // deliveryChannelsLoader
            }

            #btn-go-to-payment {
              @include size(100%, 44px);
              @include textConfig($gray09, $secondaryFont, 14, $fontMedium, 16, center, initial, 50);
              background: $brown;
              border-radius: 2px;
              border: 0;
              text-shadow: none;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  .vtex-omnishipping-1-x- {
    &addressFormPart1 {
      #ship-postalCode {
        @include size(60%, auto);
        @include textConfig($gray22, $secondaryFont, 13, $fontRegular, 13, left, initial, 0);

        &::placeholder {
          @include textConfig($gray22, $secondaryFont, 13, $fontRegular, 13, left, initial, 0);
        }

        border-radius: 2px;
        max-width: none;

        &:focus {
          box-shadow: none;
          border-color: $gray12;
        }
      }

      .ship-postalCode {
        >small>a {
          @include textConfig($dark-gray01, $secondaryFont, 11, $fontRegular, 11, left, initial, 0);
        }
      }
    }

    &shippingSectionTitle {
      @include textConfig($dark-gray01, $secondaryFont, 13, $fontRegular, auto, left, initial, 0);
    }

    &address {
      .ship-number {
        .help.error {
          white-space: break-spaces;
        }
      }

      p>label {
        @include textConfig($dark-gray01, $secondaryFont, 13, $fontRegular, auto, left, initial, 0);
      }

      input {
        @include textConfig($dark-gray01, $secondaryFont, 13, $fontRegular, auto, left, initial, 0);

        &:focus {
          box-shadow: none;
          border-color: $gray12;
        }

        border-radius: 2px;
      }
    }

    &addressSummaryActive {
      .address-summary {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' style='&%2310;'%3E%3Cpath fill='%230176ff' d='M15.998,5.951L4,16.237V30c0,0.552,0.448,1,1,1h8v-8h6v8h8c0.552,0,1-0.448,1-1V16.238L15.998,5.951z M19,19 h-6v-5h6V19z' style='&%2310; fill: %239d2235;&%2310;'/%3E%3Cpolygon fill='%230176ff' points='15.998,0.683 9,6.682 9,3 5,3 5,10.111 0.59,13.892 1.892,15.41 15.998,3.317 30.108,15.41 31.41,13.892 ' style='&%2310; fill: %239d2235;&%2310;'/%3E%3C/svg%3E") no-repeat;
        background-position: 12px 16px;
      }
    }

    &linkEdit {
      color: $color-primary;
    }

    &SummaryItem {
      &Content {
        align-items: flex-end;
      }

      &Info {
        border: 0;
      }
    }
  }

  .shp-summary-group-info,
  .shp-summary-group-price {
    @include textConfig($dark-gray01, $secondaryFont, 14, $fontRegular, 21, left, initial, 0);
  }

  .shp-summary-group-price {
    font-weight: $fontBold;
    color: $dark-gray02
  }

  .shp-summary-package-time {
    color: $gray22;
  }

}

body .vtex-omnishipping-1-x-addressFormPart1 small {
  margin: 0;
}

body .container.container-main.container-order-form {

  @include mq('1024') {
    .accordion-group .accordion-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link-box-edit {
        position: static;
      }
    }
  }


  #shipping-data .vtex-omnishipping-1-x-addressSummaryActive .address-summary {
    background-image: none;
  }


  #shipping-data,
  #client-profile-data {
    .accordion-inner {
      & {
        input {
          box-shadow: unset;

          border: unset;
          border-radius: unset;

          border-bottom: 1px solid $black;

          max-width: unset;

          padding-right: 20px;
        }

        // container inputs
        p {
          width: 100%;

          >label {
            width: max-content;
          }

          >input {
            width: 100% !important;
            min-height: 20px;
            font-size: 12px;
            background-color: transparent;
            box-sizing: border-box;
          }
        }

        button {
          background: unset;
          appearance: none;

          padding: 0;

          margin: 0;
        }

        button[type="submit"],
        button.submit {
          background: $black;
          color: $white;
          border: unset;
          border-radius: 5px;
          padding: 10px 20px;
          margin: 0;

          width: 100%;


          &:hover {
            background: darken($black, 5%);
          }
        }

      }
    }
  }

}

body div .orderform-template-holder {

  .vtex-omnishipping-1-x-SummaryItemGroup {
    padding: 0;
  }

  #client-profile-data .accordion-body {
    padding: 0;
  }

  .step.accordion-group.client-profile-data,
  .step.accordion-group.shipping-data {
    min-height: 190px;

    * {
      padding: 0;
    }


    .accordion-inner {
      padding: 20px;
    }
  }

}